
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
     <title>Bromelain Extract | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="../../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
	
 Bromelain Extract</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>	
 Bromelain Extract</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node  ">



  
<div class="content clear-block">
    <p>Bromelain refers to enzymes  extracted from the plants of family Bromeliaceae . Bromelain extract in particular refers to the combination of these enzymes along with other compounds present in the plants of this family. They can best be understood as protein-digesting enzymes, commonly called the proteolytic enzymes or the proteases. <br> The proteolytic enzymes are sulfhydryl proteases because a free sulfhydryl group of a cysteine side-chain is required for its better functioning. The two main types of enzymes that make bromelain extract are stem bromelain and fruit bromelain. Other chemical structures that form a part of the extract include peroxidase , acid phosphatase , protease inhibitors and calcium . Bromelain is largely present in all parts of the pineapple  plant, scientifically known as <em>Ananas comosus </em>. Its stem is what forms the source of most commercial viability.</p>
<p><strong>Benefits </strong></p>
<p>The medicinal uses of Bromelain are many. The enzymes in bromelain extract block proinflammatory metabolites  in the human body known to worsen the inflammatory process when ill. It is also known to decrease the migration of neutrophils to sites of acute inflammation in in-vitro conditions. In <em>in vivo </em>, bromelain carries 50 to 85% of reduction in the neutrophil migration.</p>
<p>It is a highly effective anti-inflammatory  agent and is widely used in case of sports injuries, trauma, arthritis  and different kinds of swellings. Bromelain extract also finds use for curing digestive problems, chronic venous insufficiency , easy bruising , gout , hemorrhoids , menstrual pain , autoimmune disorders , ulcerative colitis , phlebitis , sinusitis and aids healing after surgeries . Researches have revealed that bromelain extract is also helpful in the reduction of platelet  clumping, blood clots  in the bloodstream in the arteries.</p>
<p>Bromelain extract is widely associated with systemic enzyme therapy, consisting of combinations of proteolytic enzymes such as bromelain, trypsin, chemotrypsin and papain. This therapy is carried out to evaluate the efficacy of proteolytic enzymes in the treatment of breast, colorectal, and plasmacytoma cancer patients. Proprietary bromelain mixtures are being used for third degree burn treatment, and more are being approved.</p>
<p><strong>References </strong></p>
<p>Fitzhugh DJ, Shan S, Dewhirst MW et al. (2008). Bromelain treatment decreases neutrophil migration to sites of inflammation. <em>Clin Immunol </em>. <strong>128 </strong>:66-74.</p>
<p>Heinrich, Michael, A. D. Kinghorn, and J. D. Phillipson (2004). <em>Fundamentals of Pharmacognosy and Phytotherapy </em>. Churchill Livingstone. pp.&nbsp;265. ISBN &nbsp; 0443071322 .</p>
<p>Brien S, Lewith G, Walker A (2004). "Bromelain as a Treatment for Osteoarthritis: a Review of Clinical Studies". <em>Evidence-based complementary and alternative medicine: eCAM. </em><strong>1 </strong> (3): 251–257. doi : 10.1093/ecam/neh035 . PMID &nbsp; 15841258 .</p>
<p><strong>^ </strong>Kleef R, Delohery T, Bovbjerg D (1996). "Selective modulation of cell adhesion molecules on lymphocytes by bromelain protease 5". <em>Pathobiology </em><strong>64 </strong> (6): 339–46. doi : 10.1159/000164070 . PMID &nbsp; 9159029 .</p>
<p>&nbsp;</p>
  </div>
  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
