
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
     <title>Brown Rice Bran | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="../../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
	
 Brown Rice Brand</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>	
 Brown Rice Brand</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node  ">



  
<div class="content clear-block">
    <p>Brown Rice, popularly known as hulled rice is a natural grain which is partly milled, or not milled at all, makes for more nutritious rice than white rice. It become rancid easily, and is more edible with a mild nutty flavor. Brown rice is formed when only the outermost layer or husk is removed from the rice stock. As more and more layers of rice are removed, it loses its nutritional value, particularly the vitamins contained in them. Among elements that are lost are fatty acids and fiber. Hence, brown rice forms one of world's healthiest foods when left in its' natural form.</p>
<p><strong>Nutritional Content :<br></strong></p>
<p>The long grained raw brown rice is known to contain high concentration of carbohydrates followed by protein, water, dietary fiber and fat. Among minerals that form part of the brown rice family include magnesium, manganese, phosphorous, potassium, sodium, calcium, folate and zinc. It also contains high content of vitamins such as Thiamine, Riboflavin, Niacin, Pantothenic Acid and Vitamin B6.</p>
<p><strong>Health Benefits : </strong></p>
<p>One cup of brown rice provides up to 88.0% of manganese needed by the human body. Manganese greatly helps in the production of energy by stimulating the synthesis of protein, carbohydrates and fatty acids. This benefits the nervous system and aids the production of cholesterols employed by the body for the production of sex hormones. Manganese is important because it is a part of a very essential antioxidant enzyme called <em>superoxide dismutase </em> (SOD). SOD is mainly found inside the <em>mitochondria </em> of the cells where it particularly aids in the protection against damage caused by free radicals during the energy production process. The antioxidants present in the phytonutrients of brown rice bran plays an essential role in cardio-protective effects.</p>
<p><strong>References </strong>:</p>
<p>Anderson JW, Hanna TJ, Peng X, Kryscio RJ. Whole grain foods and heart disease risk. J Am Coll Nutr 2000 Jun;19(3 Suppl):291S-9S 2000. PMID:17670.</p>
<p>Cade JE, Burley VJ, Greenwood DC . Dietary fibre and risk of breast cancer in the UK Women's Cohort Study. Int J Epidemiol. 2007 Jan 24; [Epub ahead of print] 2007. PMID:17251246.</p>
<p>Ensminger AH, Ensminger , ME , Kondale JE, Robson JRK. Foods &amp; Nutriton Encyclopedia. Pegus Press, Clovis , California 1983.</p>
<p>Ensminger AH, Esminger M. K. J. e. al. Food for Health: A Nutrition Encyclopedia. Clovis , California : Pegus Press; 1986 1986. PMID:15210.</p>
<p>Erkkila AT, Herrington DM, Mozaffarian D, Lichtenstein AH. Cereal fiber and whole-grain intake are associated with reduced progression of coronary-artery atherosclerosis in postmenopausal women with coronary artery disease. Am Heart J. 2005 Jul;150(1):94-101. 2005. PMID:16084154.</p>
<p>&nbsp;</p>
  </div>
  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
