
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
   <title>Barley Grass Juice Powder | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="../../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
Barley Grass Juice Powder</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Barley Grass Juice Powder</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node  ">



  
<div class="content clear-block">
    <p>A self-pollinating, diploid species of the Graminae family, barley grass is scientifically known under the names Hordeum vulgare L. and Hordeum distichon L. It is commonly known as barley. Pearl barley, Scotch barley and Perlatum.
</p><p>Nutritionally, barley grass is at its peak just before it starts producing flowers and seeds. The optimal time to harvest barley crops is two weeks after seeding. The minerals and vitamins contained in the young grass at this stage are considered to be equivalent or superior to that of green vegetables.</p>
<p>The role of barley grass was first investigated in the early 20 <img src="file:///C|/Documents and Settings/Administrator/Application Data/Macromedia/Dreamweaver MX 2004/OfficeImageTemp/clip_image002.gif" width="20" height="15">th century by introducing a 10% mixture of barley grass into the feed of chickens, which showed not only improved growth, but also higher resistance towards degenerative diseases and increased egg production.</p>
<p>The president of the Hagiwara Institute of Health in Japan, Dr. Yoshihide Hagiwara, has stated that out of 150 plants he researched over a period of 13 years, he found barley grass to be the best source of nutrients required by the body for curing various ailments and maintaining vitality .</p>
<p><strong>Nutrition :</strong></p>
<p>Barley grass is a nutritional powerhouse, with high concentrations of over three dozen nutrients, including vitamins B and C, Potassium, calcium, iron, phosphorus, beta carotene, chlorophyll, magnesium, anti-oxidant enzymes, flavonoids, folic acid,essential and non-essential amino acids and superoxide dismutase.</p>
<p>It is also a detoxifying agent that not only neutralizes free radicals but helps to remove toxins from the body. In addition, Barley grass possesses high concentrations of Vitamin K., Niacin and Pantothenic&nbsp; along with amino acids like lysine, aspartic acid, alanine, leucine, phenylanlanine, valine and serine. Barley grass is also rich in the minerals copper and zinc, manganese and selenium.</p>
<p><strong>Usage : </strong></p>
<p>Barley is traditionally used as an anti-inflammatory medicine for the treatment of migraine, intestinal disorders and vitamin deficiencies. It is also used as an immune- inflammation inhibitor, anti-oxidant, and cellular regeneration agent.</p>
<p>Hypertension, heart and kidney disorders, obesity, constipation, impotence, asthma, anemia and skin problems are conditions that barley grass is used for.. The high levels of chlorophyll in barley grass help combat the heavy metals and pollutants that enter the human body on a daily basis.</p>
<p>Barley grass has been seen to stimulate tissue growth and to increase red blood cells in the body. <img src="file:///C|/Documents and Settings/Administrator/Application Data/Macromedia/Dreamweaver MX 2004/OfficeImageTemp/clip_image002_0000.gif" width="20" height="15">&nbsp; In addition, chlorophyll has been reported to reduce urinary and fecal odor by removing carbon-dioxide and carbon monoxide from the body.</p>
<p>In the words of Dr. Howard Lutz, the director of the Institute of Preventive Medicine in Washington, D.C., barley grass is “one of the most incredible products of this decade. It improves stamina, sexual energy, clarity of thought, and reduces addiction to things that are bad for you. It also improves the texture of the skin, and heals the dryness associated with aging".</p>
<p><strong>Barley Juice Grass Powder : </strong></p>
<p>Barley grass is commercially available in dried and powdered form either from the whole leaves or by the juice obtained by milling the leaves.&nbsp; The powder is mainly produced from the young blades of the plant when they are 12 inches high. The juice produced is dehydrated through a special process called spray-drying which is then ground into powder. This is because in this form the minerals and vitamins present in it can be easily assimilated and digested in the body.</p>
<p><strong>Preparations :</strong></p>
<p>One teaspoon of barley grass powder mixed with 8oz of juice or water, two to three times daily. Barley grass capsules and tablets are also available in strengths between 470 and 500 mg.</p>
<p><strong>References : </strong></p>
<p>(1) Article: David Sandoval, ‘ <em>The Green Foods Bible: Everything You Need to Know About Barley Grass' , Chapter 4 , Pg 75 </em></p>
<p>(2) Zohary, Daniel; Maria Hopf (2000),Domestication of Plants in the Old World: The Origin and Spread of Cultivated Plants in West Asia, Europe, and the Nile Valley ‘(3rd ed.). Oxford University Press. p.&nbsp;59–69</p>
<p>(3)(ArticlesBase SC #522848) Darell Miller, ‘ Barley Grass and Its Benefits', Posted on August 15, 2008.</p>
<p>(4) Natural Ways has been serving holistic health needs since 1997.</p>
<p>&nbsp;</p>
  </div>
  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
