
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
   <title>Lipase | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="../../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
	


Lipase</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>	


Lipase</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node">



  
<div class="content clear-block">
    <p>E ssentially a water- soluble enzyme , Lipase catalyzes  the hydrolysis  reaction taking place in the ester bonds  of water–insoluble, lipid  substrates. They are classified under the subclass, esterases . Lipase is an important enzyme as it aids in the digestion process along with the transport as well as processing of dietary lipids - particularly the. triglycerides , fats  and oils  in most living beings. Some g enes encoding lipases are also found in few viruses. Researches reveal that there are many types distinctive lipase enzymes found in nature. They differ from each other on the basis of protein folds  and catalytic reactions that they represent and support. Also most of these lipase enzymes are built on an alpha-beta hydrolase linkages and function on chymotrypsin -like hydrolysis reaction which involve a serine nucleophile , an acid  residue which is mainly aspartic acid  and a histidine .</p>
<p><strong>Distribution of Lipase : </strong></p>
<ul>
<li>The lysosomal lipase, as its name suggests is mainly found in an organelle  called the lysosome  and hence it name. </li>
</ul>
<ul>
<li>Pancreatic  lipases are secreted in the extracellular  spaces of the cells. Their main function here is to break down dietary lipids into simpler substances so as to ease the digest process as well as their transport all over the body. </li>
</ul>
<ul>
<li>Certain fungi and bacteria also produce lipases in order to facilitate the absorption of nutrients from external mediums. </li>
</ul>
<ul>
<li>Lipases tend to play an essential role in cell biology , as they are present in the biological membranes  which are primarily composed of phospholipids . </li>
</ul>
<ul>
<li>Malassezia globosa , a fungus which causes human dandruff  is known to employ lipase for breaking down the sebum  into oleic acid  which accentuates the production of skin cells, there by causing dandruff. </li>
</ul>
<p><strong>Benefits : </strong></p>
<p>Lipases are mainly responsible for the break down of fats into simpler substances and easing the process of digestion in the intestines. This process is carried out by lipases breaking down triglycerides and oils for better absorption. They also help the body to utilize omega fatty acids in a better way.</p>
<p><strong>References : </strong></p>
<p>Svendsen A (2000). "Lipase protein engineering". <em>Biochim Biophys Acta </em><strong>1543 </strong> (2): 223–228. PMID &nbsp; 11150608 .</p>
<p>Afonso C, Tulman E, Lu Z, Oma E, Kutish G, Rock D (1999). "The genome of Melanoplus sanguinipes entomopoxvirus". <em>J Virol </em><strong>73 </strong> (1): 533–52. PMID &nbsp; 9847359 .</p>
<p>Girod A, Wobus C, Zádori Z, Ried M, Leike K, Tijssen P, Kleinschmidt J, Hallek M (2002). "The VP1 capsid protein of adeno-associated virus type 2 is carrying a phospholipase A2 domain required for virus infectivity". <em>J Gen Virol </em><strong>83 </strong> (Pt 5): 973–8. PMID &nbsp; 11961250 .</p>
<p>Winkler FK, D'Arcy A, and W Hunziker (1990). "Structure of human pancreatic lipase". <em>Nature </em><strong>343 </strong> (6260): 771–774. doi : 10.1038/343771a0 . PMID &nbsp; 2106079 .</p>
<p>Diaz, B.L., and J. P. Arm. (2003). "Phospholipase A(2)". <em>Prostaglandins Leukot Essent Fatty Acids </em><strong>2-3 </strong>: 87–97. doi : 10.1016/S0952-3278(03)00069-3 . PMID &nbsp; 12895591 .</p>
<p>Goñi F, Alonso A (2002). "Sphingomyelinases: enzymology and membrane activity". <em>FEBS Lett </em><strong>531 </strong> (1): 38–46. doi : 10.1016/S0014-5793(02)03482-8 . PMID &nbsp; 12401200 .</p>
<p>&nbsp;</p>
  </div>
  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
