
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
 <title>Cinnamon Powder | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
	
Cinnamon Powder</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>	
Cinnamon Powder</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node">



  
<div class="content clear-block">
    <p>Cinnamon, scientifically referred to as <em>Cinnamomum verum </em> or <em>C. zeylanicum </em> are fruits of the plant classified under the division Magnoliophyta, class Magnoliopsida and order Laurales. Belonging to the family Lauraceae , it is a small evergreen tree  native to Sri Lanka . Cinnamon powder is a distinctive spice  with a unique aroma obtained from the bark of the tree.</p>
<p><strong>Uses &amp; HealthBenefits :</strong></p>
<p>When put to medical use, Cinnamon acts like a volatile oil and is used for treating colds  and coughs, diarrhea  and other ailments of the digestive system. Cinnamon is also known to show high level of antioxidant  activity along with antimicrobial  properties. This particularly helps in the preservation of food items.</p>
<p>Studies have revealed that Cinnamon contains some remarkable pharmacological effects when used for treating Type 2 diabetes mellitus  along with insulin resistance . Latest development in phytochemistry have put forth that cinnamtannin B1  also when isolated from <em>C. zeylanicum </em> show therapeutic effect on Type 2 diabetes . However, this happens with exception of the patients suffering from postmenopausal symptoms. Cinnamon is also used traditionally for treating toothaches as well as fighting bad breath.</p>
<p><strong>References : </strong></p>
<p>"Cinnamon". <em>Encyclopaedia Britannica </em>. 2008. "(species Cinnamomum zeylanicum), bushy evergreen tree of the laurel family (Lauraceae) native to Bangladesh, Sri Lanka (Ceylon), the neighboring Malabar Coast of India, and Myanmar (Burma), and also cultivated in South America and the West Indies for the spice consisting of its dried inner bark. The bark is widely used as a spice  due to its distinct odor."</p>
<p>"Cassia, also known as bastard cinnamon or Chinese cinnamon is a tree which has bark similar to that of cinnamon but with a rather pungent odour," remarks Maguelonne Toussant-Samat, Anthea Bell, tr. <em>The History of Food </em>, revised ed. 2009, p.437.</p>
<p>The Epicentre, Encyclopedia of Spices, <em>Cinnamon </em>,retrieved 2008-07-15</p>
<p>Knox, Robert, <em>An Historical Relation Of The Island Ceylon </em>, retrieved 2008-07-15</p>
<p>&nbsp;</p>
  </div>
  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
