
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
   <title>B. Brevis | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="css/print.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/drupal.js"></script>
<script type="text/javascript" src="js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="css/contentslider.css" />
	<script type="text/javascript" src="js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index.html" title=""><img src="images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="../../products.html">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index.html" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products.html" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science.html" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles.html" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point.html" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos.html" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials.html" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq.html" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us.html" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
B. Brevis</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>B. Brevis</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node  ">



  
<div class="content clear-block">
    <p>Bacillus brevis comes from the family of Bacillaceae belonging to the order Bacillales, class Bacilli and phylum Firmicutes of the kingdom Bacteria. The interest in Bacillus brevis started in the 1940's when Brevis strains were isolated to produce the antibiotic gramicidin.</p>
<p><strong>Health Benefits :</strong></p>
<p>Bacillus brevis has many health benefits. These strains are known to inactivate the enterotoxins present in the body by blocking the adhesion sites from pathogens. They are known to improve the immune performance of the body against urinary tract infections and bowel bacterial overgrowth. A few strains of Bacillus brevis have also been found to address anomalies like hepatic encephalopathy and colon cancer. It is known to strongly protect the body against Crohn's disease and ulcerative colitis. Some researchers have also reported their positive effect on autistic children.</p>
<p><strong>Preparation :<br></strong></p>
<p>Bacillus brevis is made available in the form of capsule or dry powder as a probiotic supplement.</p>
<p><strong>References :<br></strong></p>
<p>von Wright A., Salminen S. "Probiotics: established effects and open questions". Eur J Gastroenterol Hepatol 1999;11:1195-1198</p>
<p>Schultz M., Balfour S., "Probiotics and Inflamatory Bowel Diseases". American J. Gastroenterology Suppl. 2000;95:S19-S21</p>
<p>Balish E., Wagner R.D., "Probiotic bacteria for prophylaxis and therapy of candidiasis". Rev. Iberoam. Micol. 1998;15:261-264.</p>
<p>Mackie R., Gaskins H.R., "Gastrointestinal microbial ecology". Science &amp; Medicine Nov./Dec. 1999.</p>
<p>13. Levy J., "The effects of antibiotic use on gastrointestinal function". American J. Gastroenterology Suppl. 2000;95:S8-S10.</p>
<p>Wolfson D., "Turning Pro: The myriad benefits of probiotics". Health &amp; Nutrition Breakthroughs, Aug. 1999, 12-14.</p>
<p>Vanderhoof J.A., "Probiotics and inflammatory disorders in infants and children". Journal of Pediatric Gastroenterology and Nutrition 2000;30:S34-S38.</p>
  </div>
  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index.html" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products.html" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science.html" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles.html" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos.html" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials.html" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq.html" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us.html" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
