
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
    <title>Acerolla Cherry Powder | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all"   href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="/products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="/index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="/products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="/science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="/articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="/power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="/videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="/testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="/faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="/contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; Acerolla Cherry Powder</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Acerolla Cherry Powder</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node  ">



  
  <div class="content clear-block">
    <p>Malpighia emarginata is a tropical shrub  belonging to the Malpighiaceae  family. It is commonly also referred to as Acerola , Wild Crapemyrtle Barbados Cherry and West Indian Cherry . It is a small evergreen  tree with branches spread across a short trunk . It usually grows up to a height of 6.6–9.8&nbsp;ft but sometimes reaches to 20&nbsp;ft. The leaves  are 2–8&nbsp;cm long and ovate-lanceolate in shape with short petioles . Their arrangement is opposite , elliptic-lanceolate margins  undulating with sides in the top dark green and glossy. The flowers  are bisexual  and range between 1–2&nbsp;cm in diameter - pale to deep pink in color. Their petals are mainly fringed, contain ten stamens  with six to ten glands on the calyx . Each inflorescence  consists about three to five flowers, which are either sessile or in the form of short- peduncled  axillary cymes. The Acercola fruit  is a bright red drupe  consisting of 1–3&nbsp;cm of diameter.</p>
<p>The drupes are present in pairs of three and arranged in the form of triangular seeds . They are very juicy  and contain high content of vitamin C  as compared to other nutrients . They are mainly divided into three lobes obscured from each other and usually acid ic in taste, but become very sweet after mature growth.</p>
<p><strong>Uses and Benefits: </strong></p>
<p>Researches reveal that acerola juice holds extremely high content of vitamin C. A detailed analysis of the same showed that Acerola juice contains Vitamin C 32 times than that contained in similar amount of orange juice. A comparative study on percentage of antioxidant  content present in pulps of varied fruits was carried out which revealed that acerola had the maximum antioxidant potency as compared to all the eleven fruits studied for research.</p>
<p><strong>References: </strong></p>
<ol>
<li>^ <em>a </em><em>b </em>" <em>Malpighia glabra </em> L." . <em>Germplasm Resources Information Network </em>. United States Department of Agriculture. 2007-02-11 .&nbsp; Retrieved 2009-12-16 . </li>
<li>^ <em>a </em><em>b </em><em>c </em>" <em>Malpighia emarginata </em> DC." . <em>Germplasm Resources Information Network </em>. United States Department of Agriculture. 1998-05-18 .&nbsp; Retrieved 2010-02-02 . </li>
<li>^ <em>a </em><em>b </em>Johnson, Paul D. (2003). "Acerola ( <em>Malpighia glabra </em> L., <em>M. punicifolia </em><em>M. emarginata </em> DC.) Agriculture, Production, and Nutrition" . in Artemis P. Simopoulos; C. Gopalan. <em>Plants in Human Health and Nutrition Policy </em>. 91 . Karger Publishers. pp.&nbsp;63–74. ISBN &nbsp; 9783805575546 . </li>
<li>^ " <em>Malpighia glabra </em> L. wild crapemyrtle" . <em>PLANTS Database </em>. United States Department of Agriculture . Retrieved 2009-10-17 . </li>
<li>^ "Barbados Cherry, Mexican Myrtle, Manzanita, Cerez, Huacacote, Wild Crepe Myrtle, Manyonita, Cerezo de Jamaica, Cerezo de Castillo, Pallo de Gallina, Escobillo, Chia, Arrayncito, Xocat, Xocatatl <em>Malpighia glabra </em>" . <em>Benny Simpson's Texas Native Shrubs </em>. Texas A&amp;M University .&nbsp; Retrieved 2009-12-15 . </li>
</ol>
<p>&nbsp;</p>
  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="/index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="/products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="/science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="/articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="/videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="/testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="/faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="/contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
