
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
  <title>Amylase | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="science" title="Science" >Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/">Home</a> &#8250; <a href="/articles">Articles</a> &#8250; 	
 Amylase</div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Amylase</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-135" class="node  ">



  
<div class="content clear-block">
    <p>Amylase is an enzyme  responsible for breaking down starch  into sugar . It is highly present in the human saliva , where it helps digestion by breaking down food into simpler substances. Food items which contain greater amount of starch and less sugar, namely rice  and potato , taste sweet when chewed because amylase action breaks down some amount of starch into sugar in the mouth itself. The Pancreas is also known to form alpha amylase in order to hydrolyse dietary starch into disaccharides and trisaccharides. These are then converted by other enzymes into glucose  which then gives energy to the body. Some plants and bacteria also known to support the production of amylase. All amylases are glycoside hydrolases  and are made up of α-1,4-glycosidic linkages.</p>
<p><strong>Classification and Benefits </strong></p>
<p>There are three major kinds of amylases.</p>
<p><strong>α-Amylase </strong></p>
<p>It is known under the chemical name, 1,4-α- D -glucan glucanohydrolase or glycogenase. The α-amylases are particularly calcium metalloenzymes  and are not able to function without calcium. They act at different locations on the starch chain where they aid in breaking down long-chains of carbohydrates , ultimately forming maltotriose  and maltose  from amylose  as well as glucose  and limit dextrin from amylopectin . α-amylases can act anywhere on the substrate , and therefore tend to be faster-acting than any other amylase enzyme.</p>
<p><strong>β-Amylase </strong></p>
<p>β-amylase is known under the alternate name, 1,4-α- D -glucan maltohydrolase or glycogenase and saccharogen amylase. β-amylase is another form of amylase, largely synthesized by bacteria , fungi  and some plants . It works from the non reducing end and helps in catalyzing the hydrolysis of the second α-1,4 glycosidic bond, cleaving off two glucose units at the same time.</p>
<p><strong>γ-Amylase </strong></p>
<p>Called under the alternative name, Glucan 1,4-α-glucosidase, amyloglucosidase, exo-1,4-α-glucosidase, glucoamylase, lysosomal α-glucosidase, it is also referred to as 1,4-α- D -glucan glucohydrolase. It mainly cleaves the last α(1-4)glycosidic linkage at the non reducing end of amylose  and amylopectin , forming glucose . It also cleaves α(1-6) glycosidic linkages.</p>
<p><strong>Uses </strong></p>
<p>Amylase enzyme finds varied use in bread making where it helps in the breaking down of complex sugars like starch into simpler sugars. Once the dough is prepared, the yeast feeds on these simple sugars and converts them into waste products of alcohol and carbon-dioxide. It is this process that gives flavor to the bread and causes it to rise. Amylase enzymes are found naturally in yeast cells. The yeast takes great amount of time to produce enzymes which break down significant quantities of starch in the bread into smaller substances.</p>
<p><strong>References </strong></p>
<p>Maton, Anthea; Jean Hopkins, Charles William McLaughlin, Susan Johnson, Maryanna Quon Warner, David LaHart, Jill D. Wright (1993). Human Biology and Health. Englewood Cliffs, New Jersey , USA : Prentice Hall. ISBN 0-13-981176-1.</p>
<p>Mapp CE (May 2001). "Agents, old and new, causing occupational asthma". Occup Environ Med 58 (5): 354–60, 290. doi:10.1136/oem.58.5.354. PMID 11303086. PMC 1740131.</p>
<p>Udani J, Hardy M, Madsen DC (March 2004). "Blocking carbohydrate absorption and weight loss: a clinical trial using Phase 2 brand proprietary fractionated white bean extract". Altern Med Rev 9 (1): 63–9. PMID 15005645.</p>
  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
