	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://mylifeforcebalance.com/blogapi/rsd" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
    <title>My LifeForce Balance</title>
     <link type="text/css" rel="stylesheet" media="all" href="css/menu.css" />
    <link type="text/css" rel="stylesheet" media="all" href="css/views.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="css/print.css" />
    <script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/drupal.js"></script>
<script type="text/javascript" src="js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/green/fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="css/contentslider.css" />
	<script type="text/javascript" src="js/contentslider.js"></script>
  </head>
  <body>
    <div id="wrapper">
        <div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
       <!-- /wrapper-top -->
      <div id="wrapper-middle">
         <div id="wrapper-content">
 <div id="header">
            <div id="header-left">
              <h1>
                <a href="index.html" title=""
                  ><img src="images/logo.png" alt="" id="logo"
                /></a>
              </h1>

              <!-- flag iocn 31/05/2010-->
              <div id="flagicon">
                <img src="images/flagicon.jpg" alt="" usemap="#Map" />
                <map name="Map" id="Map">
                  <area
                    shape="rect"
                    coords="-1,0,25,17"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="United States (US)"
                    alt="United States (US)"
                  />
                  <area
                    shape="rect"
                    coords="32,0,59,17"
                    href="https://www.mylifeforcebalance.hk"
                    target="_blank"
                    title="Hong Kong"
                    alt="Hong Kong"
                  />
                  <area
                    shape="rect"
                    coords="68,0,92,18"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="India"
                    alt="India"
                  />
                  <area
                    shape="rect"
                    coords="101,-2,125,20"
                    href="https://www.mylifeforcebalance.ru"
                    target="_blank"
                    title="Russia"
                    alt="Russia"
                  />
                  <area
                    shape="rect"
                    coords="135,1,160,19"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="China"
                    alt="China"
                  />
                </map>
              </div>
              <!--/flag icon-->
            </div>
            <!-- /header-left -->

            <div id="header-right">
              <div
                id="header-right-content"
                style="padding-top: 8px; padding-left: 26px"
              >
                <a href="products.html">Click Here</a> To Buy Greens
              </div>
            </div>
            <!-- /header-right -->
          </div>
<!-- /header -->
          <div id="menu">
            <div id="menu1">
              <div
                id="block-nice_menus-1"
                class="clear-block block block-nice_menus"
              >
                <h2><span class="nice-menu-hide-title">menu top</span></h2>

                <div class="content">
                  <ul class="nice-menu nice-menu-down" id="nice-menu-1">
                    <li id="menu-284" class="menu-path-front">
                      <a href="index.html" title="" class="active">Home</a>
                    </li>
                    <li id="menu-289" class="menu-path-node-9">
                      <a href="products.html" title="Products">Products</a>
                    </li>
                    <li id="menu-291" class="menu-path-node-11">
                      <a href="science.html" title="Science">Science</a>
                    </li>
                    <li id="menu-292" class="menu-path-node-12">
                      <a href="articles.html" title="Articles">Articles</a>
                    </li>
                    <li id="menu-929" class="menu-path-node-177">
                      <a href="power-point.html" title="">Power Point</a>
                    </li>
                    <li id="menu-293" class="menu-path-node-13">
                      <a href="videos.html" title="videos">Videos</a>
                    </li>
                    <li id="menu-294" class="menu-path-node-14">
                      <a href="testimonials.html" title="Testimonials"
                        >Testimonials</a
                      >
                    </li>
                    <li id="menu-296" class="menu-path-faq">
                      <a href="faq.html" title="">FAQ</a>
                    </li>
                    <li id="menu-927" class="menu-path-node-175">
                      <a href="contact-us.html" title="">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div id="block-bottom"></div>
              </div>
            </div>
            <div id="menu2">Questions? 1 (800) 682-6143</div>
          </div>
<!-- /menu -->
<div id="banner">
            <div id="block-block-1" class="clear-block block block-block">
              <h2>Banner</h2>

              <div class="content">
                <div id="custom-slider-wrapper">
                  <div id="paginate-slider1" class="pagination"></div>
                  <div id="slider1" class="sliderwrapper">
                    <!-- 1 -->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!--<h2>Best Green Drink</h2> -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            Alkaline green plant foods balance acidic pH levels
                          </li>
                          <li>
                            Beneficial enzymes, carotenoids and phytonutrients
                            that help fight
                            <strong style="color: #ff0000"
                              >free-radical damage, aging and cancer-causing
                              mutations</strong
                            >
                          </li>
                          <li>
                            Probiotics - the friendly microorganisms that
                            promote healthier digestion and regular elimination
                          </li>
                          <li>
                            Contains essential fatty acids (EFA's)
                            <strong
                              >that help keep skin soft, elastic, and
                              youthful</strong
                            >. And helps promote brain function
                          </li>
                          <li>
                            Naturally
                            <strong
                              >detoxifies, and boosts your immune system</strong
                            >.
                          </li>
                          <li>
                            Have more energy naturally, without the "crash' that
                            follows sugar and caffeine-laden "energy drinks"
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-1.png" />
                      </div>
                    </div>
                    <!-- /1 -->
                    <!-- 2-->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!-- <h2>Omega Fats</h2>  -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            <strong>Pain</strong> - reduction in inflammation
                            and pain via regulation of the body's inflammation
                            cycle
                          </li>
                          <li>
                            <strong>Brain</strong> - improves memory, logic,
                            focus and reasoning skills
                          </li>
                          <li>
                            <strong>Depression</strong> - omega fats alleviate
                            symptoms of depression and bipolar disorders
                          </li>
                          <li>
                            <strong>Cardiovascular Health</strong> - lower
                            chances of heart disease
                          </li>
                          <li>
                            <strong>Cholesterol</strong> -
                            <span style="color: #ff0000"
                              >lower bad cholesterol</span
                            >, LDL and blood pressure while increasing good
                            cholesterol, HDL
                          </li>
                          <li>
                            <strong>Reduce Cancer</strong> - stops alteration of
                            normal cells to cancerous cells via the inhibition
                            of unwanted cell growth and by
                            <strong>killing cancer cells</strong>
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-2.png" />
                      </div>
                    </div>
                    <!-- /2 -->
                    <!-- 3 -->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!-- <h2>Healthy Fiber</h2> -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            <strong>Bowel Movements</strong> - increase the size
                            and weight of stool to help easier passing and
                            decrease chance for constipation. Watery stools will
                            be solidified by water absorption and increased bulk
                          </li>
                          <li>
                            <strong>Irritable bowel syndrome</strong> - reduce
                            chances of IBS with daily intake and bowel
                            normalization
                          </li>
                          <li>
                            Cholesterol levels - help
                            <span style="color: #ff0000"
                              >lower total blood cholesterol
                            </span>
                            by decreasing low-density lipoprotein, aka bad
                            cholesterol
                          </li>
                          <li>
                            <strong>Blood Sugar</strong> - slower absorption of
                            sugar, improves blood sugar levels and reduces risk
                            of type 2 diabetes
                          </li>
                          <li>
                            <strong>Colon Cancer</strong> - decreased risk of
                            colon cancer by keeping a clean and healthy colon
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-3.png" />
                      </div>
                    </div>
                    <!-- /3 -->
                    <!-- 4 -->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!-- <h2>Antioxidants</h2> -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            <strong
                              >Sickness - increased immune resistance</strong
                            >
                            to viruses and infections
                          </li>
                          <li>
                            <strong>Cancer</strong> - reduces risk of cancers,
                            from Breast to Colon cancer
                          </li>
                          <li>
                            <strong>Heart</strong> - reduced risk of heart
                            disease or cholesterol-oxidation
                          </li>
                          <li>
                            <strong>Aging</strong> - reverse and prevent the
                            aging process in cells and body tissue
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-4.png" />
                      </div>
                    </div>
                    <!-- /4 -->
                    <!-- 5 -->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!--<h2>Body Cleanse</h2> -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            <strong>Increased Energy</strong> - explosion of day
                            to day energy
                          </li>
                          <li>
                            <strong>Weight Loss</strong> - average person can
                            <strong>lose 2-5kg</strong> within 3months by
                            getting rid of the toxins in the body
                          </li>
                          <li>
                            <strong>Connectedness</strong> - cleansing your body
                            revives your mind and spirit and balances your body
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-5.png" />
                      </div>
                    </div>
                    <!-- /5 -->
                    <!-- 6 -->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!-- <h2>Probiotics</h2> -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            <strong>Nutrition</strong> - increased nutrition
                            bioavailability for vitamins and minerals
                          </li>
                          <li>
                            <strong
                              >Digestion - improve lactose intolerance</strong
                            >
                            and reduce constipation
                          </li>
                          <li>
                            <strong>Immune System</strong> - enhances the immune
                            system via regulation of lymphocytes and antibodies
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-6.png" />
                      </div>
                    </div>
                    <!-- /6 -->
                    <!-- 7 -->
                    <div class="contentdiv">
                      <div class="custom-rollover-content">
                        <!-- <h2>Digestive Enzymes</h2> -->
                        <ul class="custom-rollover-content-text">
                          <li>
                            <strong>Food Allergies</strong> - breaks down
                            allergy causing proteins, reduces food allergies
                          </li>
                          <li>
                            <strong>Digestion</strong> - improved digestion and
                            stool
                          </li>
                          <li>
                            <strong>Inflammation</strong> -
                            <strong> higher energy levels</strong> from a
                            reduction in allergy caused inflammation
                          </li>
                        </ul>
                      </div>
                      <div class="custom-rollover-image">
                        <img src="images/product-7.png" />
                      </div>
                    </div>
                    <!-- /7 -->
                  </div>
                  <!-- /slider1-->
                </div>
                <!-- /custom-slider-wrapper -->

                <script type="text/javascript">
                  featuredcontentslider.init({
                    id: "slider1", //id of main slider DIV
                    contentsource: ["inline", ""], //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
                    toc: [
                      "Best Green Drink",
                      "Omega Fats",
                      "Healthy Fiber",
                      "Antioxidants",
                      "Body Cleanse",
                      "Probiotics",
                      "Digestive Enzymes",
                    ], //Valid values: "#increment", "markup", ["label1", "label2", etc]
                    nextprev: ["", ""], //labels for "prev" and "next" links. Set to "" to hide.
                    revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
                    enablefade: [true, 0.4], //[true/false, fadedegree]
                    autorotate: [true, 4000], //[true/false, pausetime]
                    onChange: function (previndex, curindex) {
                      //event handler fired whenever script changes slide
                      //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
                      //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
                    },
                  });
                </script>
              </div>
              <div id="block-bottom"></div>
            </div>
          </div>
          <!-- /banner -->
 <div id="main-content-area">
            <div id="content-area">
              <!-- /content-area-top -->
              <div id="content-area-middle">
                <div class="clear-block">
                  <div id="node-5" class="node">
                    <div class="content clear-block"></div>

                    <div class="clear-block">
                      <div class="meta"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /content-area-middle -->
              <div id="content-area-bottom">
                <div
                  id="block-views-front_page_video-block_1"
                  class="clear-block block block-views"
                >
                  <h2>Videos</h2>

                  <div class="content">
                    <div
                      class="view view-front-page-video view-id-front_page_video view-display-id-block_1 view-dom-id-1"
                    >
                      <div class="view-content">
                        <div
                          class="views-row views-row-1 views-row-odd views-row-first views-row-last"
                        >
                          <div
                            class="views-field-field-video-thumnail-image-fid"
                          >
                            <span class="field-content"
                              ><a href="/alex-my-lifeforce-balance-founder"
                                ><a
                                  href="/alex-my-lifeforce-balance-founder"
                                  class="imagefield imagefield-nodelink imagefield-field_video_thumnail_image"
                                  ><img
                                    class="imagefield imagefield-field_video_thumnail_image"
                                    width="280"
                                    height="206"
                                    alt=""
                                    src="images/video1.jpg" /></a></a
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="block-bottom"></div>
                </div>

                <div id="block-block-3" class="clear-block block block-block">
                  <h2>Power Point</h2>

                  <div class="content">
                    <table
                      border="0"
                      cellspacing="0"
                      cellpadding="0"
                      width="100%"
                    >
                      <tbody>
                        <tr></tr>
                        <tr>
                          <td colspan="2">
                            Learn the Facts, Science and Benefits of My
                            LifeForce Balances - Greens with our state of the
                            art updated Power Point information guide.<br />Click
                            to the download link to get the full version(25
                            pages)
                          </td>
                        </tr>
                        <tr>
                          <td align="left">
                            <p>
                              <strong
                                ><br />DOWNLOAD:<br />
                                <a
                                  href="https://www.mylifeforcebalance.com/My LifeForce Balance - 28-5 V8.ppt"
                                  target="_blank"
                                  ><img
                                    src="images/powerpoint_logo.jpg"
                                    width="22"
                                    height="22"
                                    border="0"
                                /></a>
                                <a
                                  href="https://www.mylifeforcebalance.com/My LifeForce Balance - 28-5 V8.ppt"
                                  target="_blank"
                                  >My LifeForce Balance - GREENS Power Point</a
                                ></strong
                              >
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td height="22"></td>
                        </tr>
                        <tr>
                          <td colspan="2" align="right">
                            <span
                              class="custom-health-guide-button"
                              style="padding-left: 3px"
                              ><a href="power-point-information.html"
                                >Learn More</a
                              ></span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="block-bottom"></div>
                </div>

                <div id="block-block-2" class="clear-block block block-block">
                  <h2>Health Guide</h2>

                  <div class="content">
                    <table
                      width="100%"
                      border="0"
                      cellpadding="1"
                      cellspacing="0"
                    >
                      <tr>
                        <td colspan="2">
                          <span class="custom-health-guide-title"
                            >AntiOxidants – Facts and Myths</span
                          >
                        </td>
                      </tr>
                      <tr>
                        <td class="custom-health-guide-teaser" valign="top">
                          Download your Free Copy of AntiOxidants – Facts and
                          Myths. Find out the truth behind the health benefits
                          and life saving abilities of antioxidant health
                          supplements
                        </td>
                        <td
                          class="custom-health-guide-image"
                          width="114px"
                          align="right"
                        >
                          <img
                            src="images/product-image.jpg"
                            width="94"
                            height="153"
                            style="margin-top: 5px"
                          />
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" align="right">
                          <span class="custom-health-guide-button"
                            ><a href="antioxidants-facts-and-myths.html"
                              >Download</a
                            ></span
                          >
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div id="block-bottom"></div>
                </div>
              </div>
              <!-- /content-area-bottom -->
            </div>
            <!-- /content-area -->
          </div>
          <!-- /main-content-area -->
 <div id="footer">
            <div id="footer-top">
              <div
                id="block-nice_menus-2"
                class="clear-block block block-nice_menus"
              >
                <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

                <div class="content">
                  <ul class="nice-menu nice-menu-down" id="nice-menu-2">
                    <li id="menu-298" class="menu-path-front">
                      <a href="index.html" title="" class="active">Home</a>
                    </li>
                    <li id="menu-299" class="menu-path-node-9">
                      <a href="products.html" title="">Products</a>
                    </li>
                    <li id="menu-300" class="menu-path-node-11">
                      <a href="science.html" title="">Science</a>
                    </li>
                    <li id="menu-301" class="menu-path-node-12">
                      <a href="articles.html" title="">Articles</a>
                    </li>
                    <li id="menu-302" class="menu-path-node-13">
                      <a href="videos.html" title="">Videos</a>
                    </li>
                    <li id="menu-303" class="menu-path-node-14">
                      <a href="testimonials.html" title="">Testimonials</a>
                    </li>
                    <li id="menu-305" class="menu-path-faq">
                      <a href="faq.html" title="">FAQ</a>
                    </li>
                    <li id="menu-928" class="menu-path-node-175">
                      <a href="contact-us.html" title="">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div id="block-bottom"></div>
              </div>
            </div>
            <!-- /footer-top -->
            <div id="footer-bottom">
              &copy; My Life Force Balance All Rights Reserved
            </div>
            <!-- /footer-bottom -->
          </div>
          <!-- /footer -->
         </div>
      </div>
    </div>
  </body>
</html>
