
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
    <title>Science | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/views.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript" src="/js/ajax_view.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "views": { "ajax_path": [ "/views/ajax", "/views/ajax" ], "ajaxViews": [ { "view_name": "Science_content_listing", "view_display_id": "block_1", "view_args": "", "view_path": "node/11", "view_base_path": null, "view_dom_id": 1, "pager_element": 0 }, { "view_name": "Science", "view_display_id": "block_1", "view_args": "", "view_path": "node/11", "view_base_path": "sciences", "view_dom_id": 2, "pager_element": 0 } ] } });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/green/fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body class="sidebar-left">

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

            <!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="-1,0,25,17" href="http://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="http://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="http://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="http://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="http://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />
</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->
			<div id="header-right">
			
			
			<div id="header-right-content"  style="padding-top:8px;padding-left:26px;" ><a href="../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../science" title="Science" class="active">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->



		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><div class="breadcrumb"><a href="/">Home</a> › <a href="science.html" class="active">Science</a></div></div>
		        <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		 <div id="sidebar-left"><div id="block-views-Science_content_listing-block_1" class="clear-block block block-views">

  <h2>Articles in Science</h2>

 <div class="content"><div class="view view-Science-content-listing view-id-Science_content_listing view-display-id-block_1 view-dom-id-1">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-acerola-cherry.html">Acerola Cherry</a></span>
  </div>
  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-aloe-leaf-powder.html">Aloe Leaf Powder</a></span>
  </div>
  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-barley-grass.html">Barley Grass</a></span>
  </div>
  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-blueberry.html">Blueberry</a></span>
  </div>
  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-broccoli.html">Broccoli</a></span>
  </div>
  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-carrot.html">Carrot</a></span>
  </div>
  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-chlorella.html">Chlorella</a></span>
  </div>
  </div>
  <div class="views-row views-row-8 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-cinnamon-extract.html">Cinnamon Extract</a></span>
  </div>
  </div>
  <div class="views-row views-row-9 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-concord-grape.html">Concord Grape</a></span>
  </div>
  </div>
  <div class="views-row views-row-10 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-cranberry.html">Cranberry</a></span>
  </div>
  </div>
  <div class="views-row views-row-11 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-cruciferous-plants.html">Cruciferous plants</a></span>
  </div>
  </div>
  <div class="views-row views-row-12 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-dietary-fiber.html">Dietary Fiber</a></span>
  </div>
  </div>
  <div class="views-row views-row-13 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-digestive-enzymes.html">Digestive Enzymes</a></span>
  </div>
  </div>
  <div class="views-row views-row-14 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-grape-seed-extract.html">Grape seed extract</a></span>
  </div>
  </div>
  <div class="views-row views-row-15 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-green-tea.html">Green Tea</a></span>
  </div>
  </div>
  <div class="views-row views-row-16 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-kale.html">Kale</a></span>
  </div>
  </div>
  <div class="views-row views-row-17 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-kelp.html">Kelp</a></span>
  </div>
  </div>
  <div class="views-row views-row-18 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-licorice-root-extract.html">Licorice Root Extract</a></span>
  </div>
  </div>
  <div class="views-row views-row-19 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-milk-thistle.html">Milk Thistle</a></span>
  </div>
  </div>
  <div class="views-row views-row-20 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-parsley.html">parsley</a></span>
  </div>
  </div>
  <div class="views-row views-row-21 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-pine-bark.html">Pine Bark</a></span>
  </div>
  </div>
  <div class="views-row views-row-22 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-plum.html">Plum</a></span>
  </div>
  </div>
  <div class="views-row views-row-23 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-polygonum-cuspidatum.html">Polygonum cuspidatum</a></span>
  </div>
  </div>
  <div class="views-row views-row-24 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-probiotics.html">Probiotics</a></span>
  </div>
  </div>
  <div class="views-row views-row-25 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-quercetin.html">Quercetin</a></span>
  </div>
  </div>
  <div class="views-row views-row-26 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-raspberry.html">Raspberry</a></span>
  </div>
  </div>
  <div class="views-row views-row-27 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-red-beet-root.html">Red Beet Root</a></span>
  </div>
  </div>
  <div class="views-row views-row-28 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-resveratrol.html">Resveratrol</a></span>
  </div>
  </div>
  <div class="views-row views-row-29 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-soya-lecithin.html">Soya lecithin</a></span>
  </div>
  </div>
  <div class="views-row views-row-30 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-spinach.html">spinach</a></span>
  </div>
  </div>
  <div class="views-row views-row-31 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-spirulina.html">Spirulina</a></span>
  </div>
  </div>
  <div class="views-row views-row-32 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-tart-cherry.html">Tart cherry</a></span>
  </div>
  </div>
  <div class="views-row views-row-33 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-tomato..html">Tomato</a></span>
  </div>
  </div>
  <div class="views-row views-row-34 views-row-even views-row-last">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-tumeric-rhizome-extract.html">Tumeric Rhizome Extract</a></span>
  </div>
  </div>
    </div>
  
  
  
  
  
  
</div> </div>
  <div id="block-bottom"></div>
</div>

</div> 
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Science</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-11" class="node  ">



  
  <div class="content clear-block">
      </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
<div id="block-views-Science-block_1" class="clear-block block block-views">


  <div class="content"><div class="view view-Science view-id-Science view-display-id-block_1 view-dom-id-2">
    
  
  
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-licorice-root-extract.html">Licorice Root Extract</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>Novel Polyphenol Molecule Isolated from Licorice Root (Glycrrhiza glabra) Induces Apoptosis, G2/M Cell Cycle Arrest, and Bcl-2 Phosphorylation in Tumor Cell Lines</p>
<p>Mohamed M. Rafi,† Bret C. Vastano,† Nanquan Zhu,† Chi-Tang Ho,†‡ Geetha Ghai,† Robert T. Rosen,†‡ Michael A. Gallo,‡ and Robert S. DiPaola*§</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-licorice-root-extract.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-kelp.html">Kelp</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>Endocr Pract. 2003 Sep-Oct;9(5):363-9.</p>
<h3>Effects of kelp supplementation on thyroid function in euthyroid subjects.</h3>
<p>Clark CD, Bassett B, Burge MR.</p>
<p>Department of Internal Medicine, Division of Endocrinology and Metabolism, University of New Mexico Health Sciences Center, Albuquerque, New Mexico 87131, USA.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-kelp.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-3 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-tumeric-rhizome-extract.html">Tumeric Rhizome Extract</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>Phytomedicine. 2009 Dec;16(12):1137-43. Epub 2009 Jul 4.</p>
<h3>Effects of a turmeric extract (Curcuma longa) on chronic ultraviolet B irradiation-induced skin damage in melanin-possessing hairless mice.</h3>
<p>Sumiyoshi M, Kimura Y.</p>
<p>Division of Functional Histology, Department of Functional Biomedicine, Graduate School of Medicine, Ehime University, Toon City, Ehime 791-0295, Japan.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-tumeric-rhizome-extract.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-4 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-aloe-leaf-powder.html">Aloe Leaf Powder</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>J Ethnopharmacol. 2003 Nov;89(1):37-45.</p>
<h3>Radical-scavenging effects of Aloe arborescens Miller on prevention of pancreatic islet B-cell destruction in rats.</h3>
<p>Beppu H, Koike T, Shimpo K, Chihara T, Hoshino M, Ida C, Kuzuya H.</p>
<p>Fujita Memorial Institute of Pharmacognosy, Fujita Health University, 1865 Isshiki-cho, Hisai, Mie 514-1296, Japan.<a style="text-decoration: none; cursor: text; color: #000000;" href="#a"> <span class="__cf_email__" data-cfemail="fc949e998c8c89bc9a899695889dd19489d29d9fd2968c">[email&#160;protected]</span></a></p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-aloe-leaf-powder.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-5 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-cinnamon-extract.html">Cinnamon Extract</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><h3>Anti-diabetic effect of cinnamon extract on blood glucose in db/db mice</h3>
<p>Sung Hee Kima, Sun Hee Hyuna and Se Young ChoungCorresponding Author Contact Information, a, E-mail The Corresponding Author</p>
<p>A Department of Hygienic Chemistry, College of Pharmacy, Kyung Hee University, Seoul 130-701, Republic of Korea Received 16 December 2004; revised 5 August 2005; accepted 26 August 2005. Available online 5 October 2005.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-cinnamon-extract.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-6 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-red-beet-root.html">Red Beet Root</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><h3>The Effect of Betaine in Reversing Alcoholic Steatosis</h3>
<p>Anthony J. Barak 1 , Harriet C. Beckenhauer 1 , Shahrokh Badakhsh, 1 Dean J. Tuma 1</p>
<p>Veterans Affairs Alcohol Research Center, Department of Veterans Affairs Medical Center, Omaha, Nebraska.</p>
<p>Correspondence to  Reprint requests: Anthony J. Barak Ph.D., Liver Study Unit (151), Department of Veterans Affairs Medical Center, 4101 Woolworth Avenue, Omaha, NE 68105. This research was supported in part by Orphan Medical, Inc., Minnetonka, MN.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-red-beet-root.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-7 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-digestive-enzymes.html">Digestive Enzymes</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>Nutr J. 2004 Oct 20;3:19.</p>
<h3>Nutrition and cancer: a review of the evidence for an anti-cancer diet.</h3>
<p>Donaldson MS.</p>
<p>Hallelujah Acres Foundation, 13553 Vantage Hwy, Ellensburg, WA 98926, USA.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-digestive-enzymes.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-8 views-row-even">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-probiotics.html">Probiotics</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>Cochrane Database Syst Rev. 2004;(2):CD003048.</p>
<h3>Probiotics for treating infectious diarrhoea.</h3>
<p>Allen SJ, Okoko B, Martinez E, Gregorio G, Dans LF.</p>
<p>Swansea Clinical School, University of Wales Swansea, Grove Building, Swansea, West Glamorgan, UK, SA2 8PP.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-probiotics.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-9 views-row-odd">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-cruciferous-plants.html">Cruciferous plants</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p><strong>Example: Cruciferous plants – Brassicaceae – Cauliflower, Brussels Sprout, Broccoli</strong></p>
<p>Adv Exp Med Biol. 1999;472:159-68.</p>
<h3>Brassica vegetables and cancer prevention. Epidemiology and mechanisms.</h3>
<p>van Poppel G, Verhoeven DT, Verhagen H, Goldbohm RA.</p>
<p>TNO Nutrition and Food Research Institute, Zeist, The Netherlands.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-cruciferous-plants.html">Read more</a></span>
  </div>
  </div>
  <div class="views-row views-row-10 views-row-even views-row-last">
      
  <div class="views-field-title">
                <span class="field-content"><a href="science-milk-thistle.html">Milk Thistle</a></span>
  </div>
  
  <div class="views-field-teaser">
                <div class="field-content"><p>Cancer. 2010 Jan 15;116(2):506-13.</p>
<h3>A randomized, controlled, double-blind, pilot study of milk thistle for the treatment of hepatotoxicity in childhood acute lymphoblastic leukemia (ALL).</h3>
<p>Ladas EJ, Kroll DJ, Oberlies NH, Cheng B, Ndao DH, Rheingold SR, Kelly KM.</p>
<p>Division of Pediatric Oncology, Columbia University Medical Center, New York, New York 10032, USA.</p></div>
  </div>
  
  <div class="views-field-view-node">
                <span class="field-content"><a href="science-milk-thistle.html">Read more</a></span>
  </div>
  </div>
    </div>
  
      <div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a href="science-page-2.html" title="Go to page 2" class="active">2</a></li>
<li class="pager-item"><a href="science-page-3.html" title="Go to page 3" class="active">3</a></li>
<li class="pager-item"><a href="science-page-4.html" title="Go to page 4" class="active">4</a></li>
<li class="pager-next"><a href="science-page-2.html" title="Go to next page" class="active">next ›</a></li>
<li class="pager-last last"><a href="science-page-4.html" title="Go to last page" class="active">last »</a></li>
</ul></div>  
  
  
  
  
</div> </div>
  <div id="block-bottom"></div>
</div>

					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
		<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../science" title="" class="active">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    <script data-cfasync="false" src="/js/email-decode.min.js"></script></body>
</html>
