
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
      <title>Milk Thistle | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="../../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; 	

Milk Thistle</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Milk Thistle</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-60" class="node  ">



<div class="content clear-block">
    <p>Cancer. 2010 Jan 15;116(2):506-13.</p>
<h3>A randomized, controlled, double-blind, pilot study of milk thistle for the treatment of hepatotoxicity in childhood acute lymphoblastic leukemia (ALL).</h3>
<p>Ladas EJ, Kroll DJ, Oberlies NH, Cheng B, Ndao DH, Rheingold SR, Kelly KM.</p>
<p>Division of Pediatric Oncology, Columbia University Medical Center, New York, New York 10032, USA.</p>
<p>BACKGROUND: Despite limited preclinical and clinical investigations, milk thistle (MT) is often used for the treatment of chemotherapy-associated hepatotoxicity. Limited treatment options exist for chemotherapy-related hepatoxicity. Given the wide use of MT, the authors investigated MT in both the laboratory and a clinical setting. METHODS: In a double-blind study, children with acute lymphoblastic leukemia (ALL) and hepatic toxicity were randomized to MT or placebo orally for 28 days. Liver function tests were evaluated during the study period. To assess MT in vitro, the authors evaluated supratherapeutic concentrations in an ALL cell line. RESULTS: Fifty children were enrolled. No significant differences in frequency of side effects, incidence and severity of toxicities, or infections were observed between groups. There were no significant changes in mean amino alanine transferase (ALT), aspartate amino transferase (AST), or total bilirubin (TB) at Day 28. At Day 56, the MT group had a significantly lower AST (P = .05) and a trend toward a significantly lower ALT (P = .07). Although not significantly different, chemotherapy doses were reduced in 61% of the MT group compared with 72% of the placebo group. In vitro experiments revealed no antagonistic interactions between MT and vincristine or L-asparaginase in CCRF-CEM cells. A modest synergistic effect with vincristine was observed. CONCLUSIONS: <span style="color: #ff0000; font-weight: bold;"> In children with ALL and liver toxicity, MT was associated with a trend toward significant reductions in liver toxicity. </span></p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/20014183 </a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Evid Based Complement Alternat Med. 2009 Nov 1.</p>
<h3>Antioxidant and Hepatoprotective Effects of Silibinin in a Rat Model of Nonalcoholic Steatohepatitis.</h3>
<p>Haddad Y, Vallerand D, Brault A, Haddad PS.</p>
<p>Département de Pharmacologie, Pavillon Roger Gaudry, Local R-410, Université de Montréal, 2900 boul. Edouard Montpetit, Montréal, Québec, Canada H3T 1J4. <a style="text-decoration: none; cursor: text; color: #000000;" href="#a">pierre.haddad@umontreal.ca.</a></p>
<p>Nonalcoholic steatohepatitis (NASH) is a progressive liver disease related to the metabolic syndrome, obesity and diabetes. The rising prevalence of NASH and the lack of efficient treatments have led to the exploration of different therapeutic approaches. Milk thistle (Silibum marianum) is a medicinal plant used for its hepatoprotective properties in chronic liver disease since the 4th century BC. We explored the therapeutic effect of silibinin, the plant's most biologically active extract, in an experimental rat NASH model. A control group was fed a standard liquid diet for 12 weeks. The other groups were fed a high-fat liquid diet for 12 weeks without (NASH) or with simultaneous daily supplement with silibinin-phosphatidylcholine complex (Silibinin 200 mg kg(-1)) for the last 5 weeks. NASH rats developed all key hallmarks of the pathology. Treatment with silibinin improved liver steatosis and inflammation and decreased NASH-induced lipid peroxidation, plasma insulin and TNF-alpha. Silibinin also decreased O(2)(*-) release and returned the relative liver weight as well as GSH back to normal. Our results suggest that <span style="color: #ff0000; font-weight: bold;">milk thistle's extract, silibinin, possesses antioxidant, hypoinsulinemic and hepatoprotective properties that act against NASH-induced liver damage.</span> This medicinal herb thus shows promising therapeutic potential for the treatment of NASH.</p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19884114</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Free Radic Res. 2010 Jan;44(1):90-100.</p>
<h3>Silibinin induces protective superoxide generation in human breast cancer MCF-7 cells.</h3>
<p>Wang HJ, Jiang YY, Wei XF, Huang H, Tashiro S, Onodera S, Ikejima T.</p>
<p>China-Japan Research Institute of Medical and Pharmaceutical Sciences, Shenyang Pharmaceutical University, Shenyang 110016, PR China.</p>
<p>The pharmacological activity of polyphenolic silibinin from milk thistle (Silybum marianum) is primarily due to its antioxidant property. However, this study found that silibinin promoted sustained superoxide (O(2)(.-)) production that was specifically scavenged by exogenous superoxide dismutase (SOD) in MCF-7 cells, while the activity of endogenous SOD was not changed by silibinin. Previous work proved that silibinin induced MCF-7 cell apoptosis through mitochondrial pathway and this study further proved that O(2)(.-) generation induced by silibinin was also related to mitochondria. It was found that respiratory chain complexes I, II and III were all involved in silibinin-induced O(2)(.-) generation. Moreover, it was found that silibinin-induced O(2)(.-) had protective effect, as exogenous SOD markedly enhanced silibinin-induced apoptosis.</p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19968587</a></p>
  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->
 
    </body>
</html>
