<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link
      rel="shortcut icon"
      href="/images/green_favicon.ico"
      type="image/x-icon"
    />
    <title>
Probiotics | My LifeForce Balance</title>
    <link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/defaults.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/system-menus.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/content-module.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/filefield.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/nice_menus.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/nice_menus_default.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/tagadelic.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/fieldgroup.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/drupal.js"></script>
    <script type="text/javascript" src="/js/nice_menus.js"></script>
    <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      jQuery.extend(Drupal.settings, { basePath: "/" });
      //--><!]]>
    </script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
    <script type="text/javascript" src="/js/contentslider.js"></script>
  </head>
  <body>
    <!-- Layout -->
    <div id="wrapper">
      <div id="wrapper-top">
        <div id="wrapper-top-right">
          <a href="https://www.twitter.com/MLForceBalance" target="_blank"
            ><img
              src="/images/twitter.png"
              width="30"
              height="30"
              title="Twitter"
              alt="Twitter" /></a
          >&nbsp; &nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"
            ><img
              src="/images/youtube.png"
              width="30"
              height="30"
              title="Youtube"
              alt="Youtube" /></a
          >&nbsp; &nbsp;&nbsp;&nbsp;
          <a
            href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103"
            target="_blank"
            ><img
              src="/images/facebook.png"
              width="30"
              height="30"
              title="Facebook"
              alt="Facebook" /></a
          >&nbsp; &nbsp;&nbsp;&nbsp;
        </div>
        <!-- /wrapper-top-right -->
      </div>
      <!-- /wrapper-top -->
      <div id="wrapper-middle">
        <div id="wrapper-content">
          <div id="header">
            <div id="header-left">
              <h1>
                <a href="index" title=""
                  ><img src="/images/logo.png" alt="" id="logo"
                /></a>
              </h1>

              <!-- flag iocn 31/05/2010-->
              <div id="flagicon">
                <img src="/images/flagicon.jpg" alt="" usemap="#Map" />
                <map name="Map" id="Map">
                  <area
                    shape="rect"
                    coords="-1,0,25,17"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="United States (US)"
                    alt="United States (US)"
                  />
                  <area
                    shape="rect"
                    coords="32,0,59,17"
                    href="https://www.mylifeforcebalance.hk"
                    target="_blank"
                    title="Hong Kong"
                    alt="Hong Kong"
                  />
                  <area
                    shape="rect"
                    coords="68,0,92,18"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="India"
                    alt="India"
                  />
                  <area
                    shape="rect"
                    coords="101,-2,125,20"
                    href="https://www.mylifeforcebalance.ru"
                    target="_blank"
                    title="Russia"
                    alt="Russia"
                  />
                  <area
                    shape="rect"
                    coords="135,1,160,19"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="China"
                    alt="China"
                  />
                </map>
              </div>
              <!--/flag icon-->
            </div>
            <!-- /header-left -->

            <div id="header-right">
              <div
                id="header-right-content"
                style="padding-top: 8px; padding-left: 26px"
              >
                <a href="products">Click Here</a> To Buy Greens
              </div>
            </div>
            <!-- /header-right -->
          </div>
          <!-- /header -->
          <div id="menu">
            <div id="menu1">
              <div
                id="block-nice_menus-1"
                class="clear-block block block-nice_menus"
              >
                <h2><span class="nice-menu-hide-title">menu top</span></h2>

                <div class="content">
                  <ul class="nice-menu nice-menu-down" id="nice-menu-1">
                    <li id="menu-284" class="menu-path-front">
                      <a href="index" title="">Home</a>
                    </li>
                    <li id="menu-289" class="menu-path-node-9">
                      <a href="products" title="Products">Products</a>
                    </li>
                    <li id="menu-291" class="menu-path-node-11">
                      <a href="science" title="Science">Science</a>
                    </li>
                    <li id="menu-292" class="menu-path-node-12">
                      <a href="articles" title="Articles">Articles</a>
                    </li>
                    <li id="menu-929" class="menu-path-node-177">
                      <a href="power-point" title="">Power Point</a>
                    </li>
                    <li id="menu-293" class="menu-path-node-13">
                      <a href="videos" title="videos">Videos</a>
                    </li>
                    <li id="menu-294" class="menu-path-node-14">
                      <a href="testimonials" title="Testimonials"
                        >Testimonials</a
                      >
                    </li>
                    <li id="menu-296" class="menu-path-faq">
                      <a href="faq" title="">FAQ</a>
                    </li>
                    <li id="menu-927" class="menu-path-node-175">
                      <a href="contact-us" title="">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div id="block-bottom"></div>
              </div>
            </div>
            <div id="menu2">Questions? 1 (800) 682-6143</div>
          </div>
          <!-- /menu -->

          <!-- /banner -->
          <!-- BREADCRUM CODE BEGINS -->
          <div id="custom-breadcrum">
            <a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; Probiotics
          </div>
          <!-- BREADCRUM CODE ENDS-->
          <div id="main-content-area">
            <div id="content-area">
              <!-- /content-area-top -->
              <div id="content-area-middle">
                <table
                  width="100%"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="margin: 0px; padding: 0px"
                >
                  <tr>
                    <td class="custom-title-left"></td>
                    <td class="custom-title-bg">
                      <h2>

Probiotics</h2>
                    </td>
                    <td class="custom-title-right"></td>
                  </tr>
                </table>

                <div class="content clear-block">
    <p>Cochrane Database Syst Rev. 2004;(2):CD003048.</p>
<h3>Probiotics for treating infectious diarrhoea.</h3>
<p>Allen SJ, Okoko B, Martinez E, Gregorio G, Dans LF.</p>
<p>Swansea Clinical School, University of Wales Swansea, Grove Building, Swansea, West Glamorgan, UK, SA2 8PP.</p>
<p>BACKGROUND: Probiotics are microbial cell preparations or components of microbial cells that have a beneficial effect on the health and well being of the host. Probiotics may offer a safe intervention in acute infectious diarrhoea to reduce the duration and severity of the illness. OBJECTIVES: To assess the effects of probiotics in proven or presumed infectious diarrhoea. SEARCH STRATEGY: We searched the Cochrane Infectious Diseases Group's trials register (December 2002), the Cochrane Controlled Trials Register (The Cochrane Library Issue 4, 2002), MEDLINE (1966 to 2002), EMBASE (1988 to 2002), and reference lists from studies and reviews. We also contacted organizations and individuals working in the field, and pharmaceutical companies manufacturing probiotic agents. SELECTION CRITERIA: Randomized controlled trials comparing a specified probiotic agent with placebo or no probiotic in people with acute diarrhoea that is proven or presumed to be caused by an infectious agent. DATA COLLECTION AND ANALYSIS: Two reviewers independently assessed trial methodological quality and extracted data. MAIN RESULTS: Twenty-three studies met the inclusion criteria with a total of 1917 participants, mainly in countries with low overall mortality rates. Trials varied in relation to the probiotic(s) tested, dosage, methodological quality, and the diarrhoea definitions and outcomes. Probiotics reduced the risk of diarrhoea at 3 days (relative risk 0.66, 95% confidence interval 0.55 to 0.77, random effects model; 15 studies) and the mean duration of diarrhoea by 30.48 hours (95% confidence interval 18.51 to 42.46 hours, random effects model, 12 studies). Subgroup analysis by probiotic(s) tested, rotavirus diarrhoea, national mortality rates, and age of participants did not fully account for the heterogeneity. REVIEWERS' CONCLUSIONS: <span style="font-weight: bold;"> Probiotics appear to be a useful adjunct to rehydration therapy in treating acute, infectious diarrhoea in adults and children. </span>More research is needed to inform the use of particular probiotic regimens in specific patient groups.</p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/15106189</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Curr Opin Gastroenterol. 2009 Jan;25(1):18-23.</p>
<h3>Probiotics as prevention and treatment for diarrhea.</h3>
<p>Guarino A, Lo Vecchio A, Canani RB.</p>
<p>Department of Pediatrics, University of Naples Federico II, Naples, Italy. <a style="text-decoration: none; cursor: text; color: #000000;" href="#a">alfguari@unina.</a>it</p>
<p>PURPOSE OF REVIEW: To critically appraise evidence on probiotic use for prevention and treatment of diarrhea in children and adults. RECENT FINDINGS: Several randomized controlled trials and meta-analyses suggested that probiotics are effective in primary and secondary prevention of gastroenteritis and its treatment. Selected Lactobacillus strains had a modest, although significant effect in primary prevention. Saccharomyces boulardii was effective in antibiotic-associated and in Clostridium difficile diarrhea. There is evidence that it might prevent diarrhea in day-care centers. Lactobacillus rhamnosus GG was associated with reduced diarrheal duration and severity, more evident in case of childhood Rotavirus diarrhea. Similar, although weaker, evidence was obtained with S. boulardii. Both strains are included in evidence-based recommendations for gastroenteritis management in children. Data on other Lactobacillus strains are preliminary. Probiotic efficacy was related to cause, early administration and bacterial load, and their mechanisms were associated with antiinfectious action in the intestine or, indirectly, to modulation of innate and adaptive immunity. SUMMARY: <span style="font-weight: bold;"> Probiotics have gained a role as adjunctive treatment of infantile gastroenteritis together with rehydration.</span> Their efficacy is less convincing in adults, but promising in antibiotic-associated diarrhea. However, evidence of efficacy is limited to a few strains.</p>
<p><strong>Source: PubMed</strong></p>
<p><a target="_blank"></a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>Probiotics: A novel approach in the management of food allergystar</h3>
<p>Heli Majamaa MDa and Erika Isolauri MDa</p>
<p>A Tampere, Finland Received 26 October 1995; revised 9 July 1996; accepted 10 July 1996. Available online 4 November 2005.</p>
<p>Background: The gastrointestinal microflora is an important constituent of the gut mucosal defense barrier. We have previously shown that a human intestinal floral strain, Lactobacillus GG (ATCC 53103), promotes local antigen-specific immune responses (particularly in the IgA class), prevents permeability defects, and confers controlled antigen absorption. Objective: The aim of this study was to evaluate the clinical and immunologic effects of cow's milk elimination without (n = 14) and with (n = 13) the addition of Lactobacillus GG (5 × 108 colony-forming units/gm formula) in an extensively hydrolyzed whey formula in infants with atopic eczema and cow's milk allergy. The second part of the study involved 10 breast-fed infants who had atopic eczema and cow's milk allergy. In this group Lactobacillus GG was given to nursing mothers. Methods: The severity of atopic eczema was assessed by clinical scoring. The concentrations of fecal α1-antitrypsin, tumor necrosis factor-α, and eosinophil cationic protein were determined as markers of intestinal inflammation before and after dietary intervention. Results: The clinical score of atopic dermatitis improved significantly during the 1-month study period in infants treated with the extensively hydrolyzed whey formula fortified with Lactobacillus GG. The concentration of α1-antitrypsin decreased significantly in this group (p = 0.03) but not in the group receiving the whey formula without Lactobacillus GG (p = 0.68). In parallel, the median (lower quartile to upper quartile) concentration of fecal tumor necrosis factor-α decreased significantly in this group, from 709 pg/gm (91 to 1131 pg/gm) to 34 pg/gm (19 to 103 pg/gm) (p = 0.003), but not in those receiving the extensively hydrolyzed whey formula only (p= 0.38). The concentration of fecal eosinophil cationic protein remained unaltered during therapy. Conclusion: These results suggest that <span style="color: #ff0000;">probiotic bacteria may promote endogenous barrier mechanisms in patients with atopic dermatitis and food allergy, and by alleviating intestinal inflammation, may act as a useful tool in the treatment of food allergy.</span> (J Allergy Clin Immunol 1997;99:179-85.)</p>
<p><strong>Source:</strong>ScienceDirect</p>
  </div>
              </div>
              <!-- /content-area-middle -->
              <!-- /content-area-bottom -->
            </div>
            <!-- /content-area -->
          </div>
          <!-- /main-content-area -->
          <div id="footer">
            <div id="footer-top">
              <div
                id="block-nice_menus-2"
                class="clear-block block block-nice_menus"
              >
                <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

                <div class="content">
                  <ul class="nice-menu nice-menu-down" id="nice-menu-2">
                    <li id="menu-298" class="menu-path-front">
                      <a href="index" title="">Home</a>
                    </li>
                    <li id="menu-299" class="menu-path-node-9">
                      <a href="products" title="">Products</a>
                    </li>
                    <li id="menu-300" class="menu-path-node-11">
                      <a href="science" title="">Science</a>
                    </li>
                    <li id="menu-301" class="menu-path-node-12">
                      <a href="articles" title="">Articles</a>
                    </li>
                    <li id="menu-302" class="menu-path-node-13">
                      <a href="videos" title="">Videos</a>
                    </li>
                    <li id="menu-303" class="menu-path-node-14">
                      <a href="testimonials" title="">Testimonials</a>
                    </li>
                    <li id="menu-305" class="menu-path-faq">
                      <a href="faq" title="">FAQ</a>
                    </li>
                    <li id="menu-928" class="menu-path-node-175">
                      <a href="contact-us" title="">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div id="block-bottom"></div>
              </div>
            </div>
            <!-- /footer-top -->
            <div id="footer-bottom">
              &copy; My Life Force Balance All Rights Reserved
            </div>
            <!-- /footer-bottom -->
          </div>
          <!-- /footer -->
        </div>
        <!-- /wrapper-content -->
      </div>
      <!-- /wrapper-middle -->
      <div id="wrapper-bottom"></div>
      <!-- /wrapper-bottom -->
    </div>
    <!-- /wrapper -->
    <!-- /layout -->
  </body>
</html>
