
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
    <title>Tart cherry | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; Tart cherry</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Tart Cherry</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  	<div class="content clear-block">
    <h3>J Med Food. 2009 Oct;12(5):935-42.</h3>
<h3>Regular tart cherry intake alters abdominal adiposity, adipose gene transcription, and inflammation in obesity-prone rats fed a high fat diet.</h3>
<p>Seymour EM, Lewis SK, Urcuyo-Llanes DE, Tanone II, Kirakosyan A, Kaufman PB, Bolling SF.</p>
<p>Michigan Integrative Medicine Program and Section of Cardiac Surgery, University of Michigan Health System, Ann Arbor , Michigan 48109 , USA .</p>
<p>Obesity, systemic inflammation, and hyperlipidemia are among the components of metabolic syndrome, a spectrum of phenotypes that can precede the development of type 2 diabetes and cardiovascular disease. Animal studies show that intake of anthocyanin-rich extracts can affect these phenotypes. Anthocyanins can alter the activity of tissue peroxisome proliferator-activated receptors (PPARs), which affect energy substrate metabolism and inflammation. However, it is unknown if physiologically relevant, anthocyanin-containing whole foods confer similar effects to concentrated, anthocyanin extracts. The effect of anthocyanin-rich tart cherries was tested in the Zucker fatty rat model of obesity and metabolic syndrome. For 90 days, rats were pair-fed a higher fat diet supplemented with either 1% (wt/wt) freeze-dried, whole tart cherry powder or with a calorie- and macronutrient-matched control diet. Tart cherry intake was associated with reduced hyperlipidemia, percentage fat mass, abdominal fat (retroperitoneal) weight, retroperitoneal interleukin-6 (IL-6) and tumor necrosis factor-alpha (TNF-alpha) expression, and plasma IL-6 and TNF-alpha. Tart cherry diet also increased retroperitoneal fat PPAR-alpha and PPAR-gamma mRNA (P = .12), decreased IL-6 and TNF-alpha mRNA, and decreased nuclear factor kappaB activity. In conclusion, in at-risk obese rats fed a high fat diet, physiologically relevant tart cherry consumption reduced several phenotypes of metabolic syndrome and reduced both systemic and local inflammation. <strong><span style="color: #ff0000;">Tart cherries may reduce the degree or trajectory of metabolic syndrome, thereby reducing risk for the development of type 2 diabetes and heart disease </span></strong>.</p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19857054 </a></p>
<p><strong>J Nutr. 2009 Oct;139(10):1896-900. Epub 2009 Aug 19. </strong></p>
<h1>Tart cherry juice decreases oxidative stress in healthy older men and women.</h1>
<p>Traustadóttir T, Davies SS, Stock AA, Su Y, Heward CB, Roberts LJ 2nd, Harman SM.</p>
<p>Kronos Longevity Research Institute, Phoenix , AZ , USA .</p>
<p>Compared with young adults, older adults have significantly impaired capacities to resist oxidative damage when faced with acute stress such as ischemia/reperfusion. This impairment likely contributes to increased morbidity and mortality in older adults in response to acute trauma, infections, and the susceptibility to diseases such as atherosclerosis, cancer, diabetes, and Alzheimer's disease. Consumption of foods high in polyphenols, particularly anthocyanins, have been associated with improved health, but the mechanisms contributing to these salutary effects remain to be fully established. This study tested the hypothesis that consumption of tart cherry juice containing high levels of anthocyanins improves the capacity of older adults to resist oxidative damage during acute oxidative stress. In a double-blind, placebo-controlled, crossover design, 12 volunteers [6 men and 6 women; age 69 +/- 4 y (61-75 y)] consumed in random order either tart cherry juice or placebo (240 mL twice daily for 14 d) separated by a 4-wk washout period. The capacity to resist oxidative damage was measured as the changes in plasma F(2)-isoprostane levels in response to forearm ischemia-reperfusion (I/R) before and after each treatment. The tart cherry juice intervention reduced the I/R-induced F(2)-isoprostane response (P &lt; 0.05), whereas placebo had no significant effect. The tart cherry juice intervention also reduced basal urinary excretion of oxidized nucleic acids (8-hydroxy-2'-deoxyguanosine, 8-hydroxyguanosine) (P &lt; 0.05) but not urinary excretion of isoprostanes. These data suggest that <strong><span style="color: #ff0000;">consumption of tart cherry juice improves antioxidant defenses in vivo in older adults as shown by an increased capacity to constrain an oxidative challenge and reduced oxidative damage to nucleic acids</span> </strong>.</p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19692530 </a></p>
<p><strong>Am J Vet Res. 2009 Jun;70(6):758-63. </strong></p>
<h1>Effect of a tart cherry juice blend on exercise-induced muscle damage in horses.</h1>
<p>Ducharme NG, Fortier LA, Kraus MS, Hobo S, Mohammed HO, McHugh MP, Hackett RP, Soderholm LV, Mitchell LM.</p>
<p>Department of Clinical Sciences, College of Veterinary Medicine, Cornell University, Ithaca, NY 14853, USA.</p>
<p>OBJECTIVE: To evaluate whether administering a tart cherry juice blend (TCJB) prior to exercise would reduce skeletal and cardiac muscle damage by decreasing the inflammatory and oxidative stress response to exercise in horses. ANIMALS: 6 horses. PROCEDURES: Horses were randomly allocated into 2 groups in a crossover study with a 2-week washout period and orally administered either TCJB or a placebo solution (1.42 L, twice daily) in a double-masked protocol for 2 weeks prior to a stepwise incremental exercise protocol. Horses were tested for serum activities of creatine kinase and aspartate aminotransferase (AST) and concentrations of cardiac troponin I (cTnI), thiobarbituric acid reactive substances (TBARS; an indicator of oxidative stress), and serum amyloid A (SAA; an indicator of inflammation). To ensure that treatment would not result in positive results of an equine drug-screening protocol, serum samples obtained from each horse prior to and after 2 weeks of administration of TCJB or the placebo solution were tested. RESULTS: All horses had negative results of drug screening at both sample times. The exercise protocol resulted in a significant increase in TBARS concentration, SAA concentration, and serum AST activity in all horses. Administration of TCJB or placebo solution was not associated with an effect on malondialdehyde or SAA concentrations. However, administration of TCJB was associated with less serum activity of AST, compared with administration of placebo solution. CONCLUSIONS AND CLINICAL RELEVANCE: <strong><span style="color: #ff0000;">Administration of TCJB may diminish muscle damage induced by exercise.</span> </strong></p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19496666 </a></p>
<p><strong>Cancer Lett. 2003 May 8;194(1):13-9. </strong></p>
<h1>Tart cherry anthocyanins inhibit tumor development in Apc(Min) mice and reduce proliferation of human colon cancer cells .</h1>
<p>Kang SY, Seeram NP, Nair MG, Bourquin LD.</p>
<p>Department of Food Science and Human Nutrition, Michigan State University, 139 G M Trout Building, East Lansing, MI 48824-1224, USA.</p>
<p>Anthocyanins, which are bioactive phytochemicals, are widely distributed in plants and especially enriched in tart cherries. Based on previous observations that tart cherry anthocyanins and their respective aglycone, cyanidin, can inhibit cyclooxygenase enzymes, we conducted experiments to test the potential of anthocyanins to inhibit intestinal tumor development in Apc(Min) mice and growth of human colon cancer cell lines. Mice consuming the cherry diet, anthocyanins, or cyanidin had significantly fewer and smaller cecal adenomas than mice consuming the control diet or sulindac. Colonic tumor numbers and volume were not significantly influenced by treatment. Anthocyanins and cyanidin also reduced cell growth of human colon cancer cell lines HT 29 and HCT 116. The IC(50) of anthocyanins and cyanidin was 780 and 63 microM for HT 29 cells, respectively and 285 and 85 microM for HCT 116 cells, respectively. These results suggest that <strong><span style="color: #ff0000;">tart cherry anthocyanins and cyanidin may reduce the risk of colon cancer </span></strong>.</p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/12706854 </a></p>
  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>
