
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
    <title>Aloe Leaf Powder | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; 	
Aloe Leaf Powder</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Aloe Leaf Powder</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-60" class="node  ">



  
<div class="content clear-block">
    <p>J Ethnopharmacol. 2003 Nov;89(1):37-45.</p>
<h3>Radical-scavenging effects of Aloe arborescens Miller on prevention of pancreatic islet B-cell destruction in rats.</h3>
<p>Beppu H, Koike T, Shimpo K, Chihara T, Hoshino M, Ida C, Kuzuya H.</p>
<p>Fujita Memorial Institute of Pharmacognosy, Fujita Health University, 1865 Isshiki-cho, Hisai, Mie 514-1296, Japan.<a style="text-decoration: none; cursor: text; color: #000000;" href="#a"> hbeppu@fujita-hu.ac.jp</a></p>
<p>We evaluated the possible scavenging effects of Aloe arborescens Miller var. natalensis Berger (Kidachi aloe in Japanese) on free radicals generated by streptozotocin (Sz) or alloxan (Ax). The components of Kidachi aloe were added to a reaction system in which .OH radicals derived from Sz or Ax as pancreatic islet B-cell toxins and hypoxanthine-xanthine oxidase (HX-XO)-derived O(2) radicals destroy isolated islet B-cells, and we observed its preventive effects. The Kidachi aloe components inhibited the destruction of rat pancreatic islet B-cells by Sz, Ax or HX-XO. These components were prepared in the form of a freeze-dried powder of the boiled leaf skin of Kidachi aloe, and measurement of 1,1-diphenyl-2-picrylhydrazyl (DPPH) radical-scavenging activity showed higher radical-scavenging activity in this boiled leaf skin powder than the non-boiled leaf skin powder.Furthermore, HPLC chromatograms of the "Boiled leaf skin powder" were similar to those of commercially available aloin (barbaloin content: approximately 20%). Therefore, the main component may be a phenol compound. In addition, the phenolic fraction of the Boiled leaf skin contained large amounts of 2'-O-p-coumaroylaloesin and 2'-O-feruloylaloesin, which have higher DPPH radical-scavenging activity than barbaloin. These results suggest that the action mechanism of Kidachi <span style="font-weight: bold;">aloe Boiled leaf skin components, which prevent destruction of the pancreatic islets by specific pancreatic islet toxins such as Sz, Ax, and HX-XO, involves inhibition of free radical-scavenging effects, and may be associated with a thermostable low molecular component.</span> The co-existence of Kidachi aloe-derived 2'-O-p-coumaroylaloesin, 2'-O-feruloylaloesin, and aloin may result in the potentiation of radical-scavenging activity.</p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/14522430</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>J Ethnopharmacol. 2009 Jul 30;124(3):404-8. Epub 2009 Jun 6.</p>
<h3>Antimicrobial, anti-inflammatory and mutagenic investigation of the South African tree aloe (Aloe barberae).</h3>
<p>Ndhlala AR, Amoo SO, Stafford GI, Finnie JF, Van Staden J.</p>
<p>Research Centre for Plant Growth and Development, School of Biological and Conservation Sciences, University of KwaZulu-Natal Pietermaritzburg, Private Bag X01, Scottsville 3209, South Africa</p>
<p>ETHNOPHARMACOLOGY RELEVANCE: In recent times, many products ranging from aloe drinks to aloe gels, powders, capsules, and creams have appeared on the commercial market prepared from different aloe species including Aloe barberae. These products are used in ethnomedicine to treat various conditions including gastrointestinal disorders, insect bites, skin burns and other skin injuries by traditional communities. AIM OF THE STUDY: This study was aimed at evaluating the antibacterial, antifungal and anti-inflammatory activities as well as genotoxic effects of different extracts of Aloe barberae. MATERIALS AND METHODS: Organic and water extracts of the upper stem, young bark, mature bark, leaves and roots of the South African tree aloe (Aloe barberae) were evaluated for their antimicrobial [gram-positive (Bacillus subtilis and Staphylococcus aureus), gram-negative (Escherichia coli and Klebsiella pneumoniae) bacteria as well as the fungus Candida albicans], anti-inflammatory (COX-1 and COX-2) and mutagenic properties (Ames test). Thin layer chromatography (TLC) was used to compare the phytochemical profiles of different extracts of Aloe barberae. RESULTS: The petroleum ether (PE) and dichloromethane (DCM) extracts of the mature bark, leaves and roots exhibited good activity against all the bacteria and fungus Candida albicans with minimum inhibitory concentrations (MIC) ranging from 0.195 to 1.56 mg/ml. All the PE extracts evaluated showed a high activity (&gt;70%) in both COX-1 and COX-2 assays. Apart from the organic extracts of the root with consistently good activity (&gt;70%), all the remaining extracts showed moderate activity (40-69%) in COX-1 assay. The PE extracts also showed a dose dependent increase in activity. Ultraviolet (UV) spectrum of the leaves and root EtOH extracts indicated the presence of compounds that could absorb UV light (wavelength: 190-820 nm). None of the extracts had a mutagenic effect in the Salmonella/microsome assay against a tester strain, TA98. CONCLUSION: Activity observed in the bark, leaves and roots of <em>Aloe barberae validates its use in commercial herbal products, ethnobotany and ethnoveterinary medicine by South African communities and small scale farmers to treat various conditions.</em></p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19505552</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->
 <script data-cfasync="false" src="/js/email-decode.min.js"></script>
    </body>
</html>
