<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link
      rel="shortcut icon"
      href="/images/green_favicon.ico"
      type="image/x-icon"
    />
    <title>Resveratrol | My LifeForce Balance</title>
    <link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/defaults.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/system-menus.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/content-module.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/filefield.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/nice_menus.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/nice_menus_default.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/tagadelic.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      media="all"
      href="/css/fieldgroup.css"
    />
    <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/drupal.js"></script>
    <script type="text/javascript" src="/js/nice_menus.js"></script>
    <script type="text/javascript">
      <!--//--><![CDATA[//><!--
      jQuery.extend(Drupal.settings, { basePath: "/" });
      //--><!]]>
    </script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
    <script type="text/javascript" src="/js/contentslider.js"></script>
  </head>
  <body>
    <!-- Layout -->
    <div id="wrapper">
      <div id="wrapper-top">
        <div id="wrapper-top-right">
          <a href="https://www.twitter.com/MLForceBalance" target="_blank"
            ><img
              src="/images/twitter.png"
              width="30"
              height="30"
              title="Twitter"
              alt="Twitter" /></a
          >&nbsp; &nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"
            ><img
              src="/images/youtube.png"
              width="30"
              height="30"
              title="Youtube"
              alt="Youtube" /></a
          >&nbsp; &nbsp;&nbsp;&nbsp;
          <a
            href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103"
            target="_blank"
            ><img
              src="/images/facebook.png"
              width="30"
              height="30"
              title="Facebook"
              alt="Facebook" /></a
          >&nbsp; &nbsp;&nbsp;&nbsp;
        </div>
        <!-- /wrapper-top-right -->
      </div>
      <!-- /wrapper-top -->
      <div id="wrapper-middle">
        <div id="wrapper-content">
          <div id="header">
            <div id="header-left">
              <h1>
                <a href="index" title=""
                  ><img src="/images/logo.png" alt="" id="logo"
                /></a>
              </h1>

              <!-- flag iocn 31/05/2010-->
              <div id="flagicon">
                <img src="/images/flagicon.jpg" alt="" usemap="#Map" />
                <map name="Map" id="Map">
                  <area
                    shape="rect"
                    coords="-1,0,25,17"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="United States (US)"
                    alt="United States (US)"
                  />
                  <area
                    shape="rect"
                    coords="32,0,59,17"
                    href="https://www.mylifeforcebalance.hk"
                    target="_blank"
                    title="Hong Kong"
                    alt="Hong Kong"
                  />
                  <area
                    shape="rect"
                    coords="68,0,92,18"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="India"
                    alt="India"
                  />
                  <area
                    shape="rect"
                    coords="101,-2,125,20"
                    href="https://www.mylifeforcebalance.ru"
                    target="_blank"
                    title="Russia"
                    alt="Russia"
                  />
                  <area
                    shape="rect"
                    coords="135,1,160,19"
                    href="https://www.mylifeforcebalance.com"
                    target="_blank"
                    title="China"
                    alt="China"
                  />
                </map>
              </div>
              <!--/flag icon-->
            </div>
            <!-- /header-left -->

            <div id="header-right">
              <div
                id="header-right-content"
                style="padding-top: 8px; padding-left: 26px"
              >
                <a href="products">Click Here</a> To Buy Greens
              </div>
            </div>
            <!-- /header-right -->
          </div>
          <!-- /header -->
          <div id="menu">
            <div id="menu1">
              <div
                id="block-nice_menus-1"
                class="clear-block block block-nice_menus"
              >
                <h2><span class="nice-menu-hide-title">menu top</span></h2>

                <div class="content">
                  <ul class="nice-menu nice-menu-down" id="nice-menu-1">
                    <li id="menu-284" class="menu-path-front">
                      <a href="index" title="">Home</a>
                    </li>
                    <li id="menu-289" class="menu-path-node-9">
                      <a href="products" title="Products">Products</a>
                    </li>
                    <li id="menu-291" class="menu-path-node-11">
                      <a href="science" title="Science">Science</a>
                    </li>
                    <li id="menu-292" class="menu-path-node-12">
                      <a href="articles" title="Articles">Articles</a>
                    </li>
                    <li id="menu-929" class="menu-path-node-177">
                      <a href="power-point" title="">Power Point</a>
                    </li>
                    <li id="menu-293" class="menu-path-node-13">
                      <a href="videos" title="videos">Videos</a>
                    </li>
                    <li id="menu-294" class="menu-path-node-14">
                      <a href="testimonials" title="Testimonials"
                        >Testimonials</a
                      >
                    </li>
                    <li id="menu-296" class="menu-path-faq">
                      <a href="faq" title="">FAQ</a>
                    </li>
                    <li id="menu-927" class="menu-path-node-175">
                      <a href="contact-us" title="">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div id="block-bottom"></div>
              </div>
            </div>
            <div id="menu2">Questions? 1 (800) 682-6143</div>
          </div>
          <!-- /menu -->

          <!-- /banner -->
          <!-- BREADCRUM CODE BEGINS -->
          <div id="custom-breadcrum">
            <a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; Resveratrol
          </div>
          <!-- BREADCRUM CODE ENDS-->
          <div id="main-content-area">
            <div id="content-area">
              <!-- /content-area-top -->
              <div id="content-area-middle">
                <table
                  width="100%"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="margin: 0px; padding: 0px"
                >
                  <tr>
                    <td class="custom-title-left"></td>
                    <td class="custom-title-bg">
                      <h2>Resveratrol</h2>
                    </td>
                    <td class="custom-title-right"></td>
                  </tr>
                </table>

                <div class="content clear-block">
                  <p>Exp Neurol. 2010 Apr 7.</p>
                  <h3>
                    Resveratrol protects against experimental stroke: Putative
                    neuroprotective role of heme oxygenase 1.
                  </h3>
                  <p>Sakata Y, Zhuang H, Kwansa H, Koehler RC, Doré S.</p>
                  <p>
                    Anesthesiology and Critical Care Medicine, Johns Hopkins
                    University, Baltimore, MD, USA.
                  </p>
                  <p>
                    Epidemiological and experimental reports have linked
                    mild-to-moderate wine and/or grape consumption to a lowered
                    incidence of cardiovascular, cerebrovascular, and peripheral
                    vascular risk. This study revealed that resveratrol, an
                    enriched bioactive polyphenol in red wine, selectively
                    induces heme oxygenase 1 (HO1) in a dose- and time-dependent
                    manner in cultured mouse cortical neuronal cells and
                    provides neuroprotection from free-radical or excitotoxicity
                    damage. This protection was lost when cells were treated
                    with a protein synthesis or heme oxygenase inhibitor,
                    suggesting that HO1 induction is at least partially required
                    for resveratrol's prophylactic properties. Furthermore,
                    resveratrol pretreatment dose-dependently protected mice
                    subjected to an optimized ischemic-reperfusion stroke model.
                    Mice in which HO1 was selectively deleted lost most, if not
                    all, of the beneficial effects. Together, the data suggest a
                    potential intracellular pathway by
                    <strong
                      >which resveratrol can provide cell/organ resistance
                      against neuropathological conditions.</strong
                    >
                  </p>
                  <p><strong>Source: PubMed</strong></p>
                  <p>
                    <a
                      href="#a"
                      style="
                        text-decoration: none;
                        cursor: text;
                        color: #000000;
                      "
                      >http://www.ncbi.nlm.nih.gov/pubmed/20381489</a
                    >
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>Eur J Pharmacol. 2010 Mar 31.</p>
                  <h3>
                    Anti-inflammatory activities of resveratrol in the brain:
                    Role of resveratrol in microglial activation.
                  </h3>
                  <p>Zhang F, Liu J, Shi JS.</p>
                  <p>
                    Shanghai University of Traditional Chinese Medicine,
                    Shanghai 200071, China; Department of Pharmacology and Key
                    Lab of Basic Pharmacology of Guizhou, Zunyi Medical College,
                    Zunyi 563003, China.
                  </p>
                  <p>
                    Neuroinflammation is an important contributor to
                    pathogenesis of neurological disorders, with microglial
                    activation as a hallmark of neuroinflammation. Microglia
                    serve the role of immune surveillance under normal
                    conditions, but after brain damage or exposure to
                    inflammation, microglia are activated and secrete
                    pro-inflammatory and neurotoxic mediators. Sustained
                    production of these factors contributes to neuronal damage.
                    Therefore, inhibition of microglia-mediated
                    neuroinflammation may become a promising therapeutic target
                    for neurological disorders. Resveratrol, a non-flavonoid
                    polyphenol rich in red wine and grapes, has beneficial
                    health effects from its antioxidant, anticancer and
                    anti-inflammatory properties. Recently,
                    <span style="color: #ff0000; font-weight: bold"
                      >resveratrol has been shown to protect against various
                      neurological disorders in experimental models, including
                      brain ischemia, seizures, and neurodegenerative disease
                      models.</span
                    >This minireview summarized the anti-inflammatory activities
                    of resveratrol in the brain from both in vivo and in vitro
                    studies, and highlighted the inhibition of activated
                    microglia as a potential mechanism of neuroprotection. The
                    release of various pro-inflammatory factors, the production
                    of reactive oxygen species, and the activation of signal
                    pathways leading to neuroinflammation were discussed in
                    relation to microglial activation. Taken together, microglia
                    are an important target for anti-inflammatory activities of
                    resveratrol in the brain.
                  </p>
                  <p><strong>Source: PubMed</strong></p>
                  <p>
                    <a
                      href="#a"
                      style="
                        text-decoration: none;
                        cursor: text;
                        color: #000000;
                      "
                      >http://www.ncbi.nlm.nih.gov/pubmed/20361959</a
                    >
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>Biochem Biophys Res Commun. 2010 Mar 27.</p>
                  <h3>
                    Resveratrol-mediated reversal of doxorubicin resistance in
                    acute myeloid leukemia cells via downregulation of MRP1
                    expression.
                  </h3>
                  <p>Kweon SH, Song JH, Kim TS.</p>
                  <p>
                    Division of Life Sciences, School of Life Sciences and
                    Biotechnology, Korea University, Seoul 136-701, Republic of
                    Korea.
                  </p>
                  <p>
                    Chemo-resistance to anti-cancer drugs is a major obstacle in
                    efforts to develop a successful treatment of acute myeloid
                    leukemia (AML). In this study, we investigate whether
                    resveratrol, a common ingredient in a broad variety of
                    fruits and vegetables, can reverse drug resistance in AML
                    cells. Three doxorubicin-resistant AML cell lines
                    (AML-2/DX30, AML-2/DX100, AML-2/DX300) were prepared via
                    long-term exposure to doxorubicin for more than 3months. DNA
                    microarray analysis demonstrated that many genes were
                    differentially expressed in the resistant cells, as compared
                    with the wild type AML-2/WT cells. In particular, the
                    expression level of the MRP1 gene was significantly
                    increased in the AML-2/DX300 cells, as compared to that
                    detected in AML-2 cells. Importantly, the resveratrol was
                    shown not only to induce cell growth arrest and apoptotic
                    death in doxorubicin-resistant AML cells, but was also shown
                    to downregulate the expression of an MRP1 gene. Furthermore,
                    resveratrol treatment induced a significant increase in the
                    uptake of 5(6)-carboxyfluorescein diacetate, a MRP1
                    substrate, into the doxorubicin-resistant AML-2/DX300 cells.
                    The results of this study show that
                    <strong
                      >resveratrol may facilitate the cellular uptake of
                      doxorubicin via an induced downregulation of MRP1
                      expression, and also suggest that it may prove useful in
                      overcoming doxorubicin resistance, or in sensitizing
                      doxorubicin-resistant AML cells to anti-leukemic
                      agents.</strong
                    >
                  </p>
                  <p><strong>Source: PubMed</strong></p>
                  <p>
                    <a
                      href="#a"
                      style="
                        text-decoration: none;
                        cursor: text;
                        color: #000000;
                      "
                      >http://www.ncbi.nlm.nih.gov/pubmed/20350534</a
                    >
                  </p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                </div>
              </div>
              <!-- /content-area-middle -->
              <!-- /content-area-bottom -->
            </div>
            <!-- /content-area -->
          </div>
          <!-- /main-content-area -->
          <div id="footer">
            <div id="footer-top">
              <div
                id="block-nice_menus-2"
                class="clear-block block block-nice_menus"
              >
                <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

                <div class="content">
                  <ul class="nice-menu nice-menu-down" id="nice-menu-2">
                    <li id="menu-298" class="menu-path-front">
                      <a href="index" title="">Home</a>
                    </li>
                    <li id="menu-299" class="menu-path-node-9">
                      <a href="products" title="">Products</a>
                    </li>
                    <li id="menu-300" class="menu-path-node-11">
                      <a href="science" title="">Science</a>
                    </li>
                    <li id="menu-301" class="menu-path-node-12">
                      <a href="articles" title="">Articles</a>
                    </li>
                    <li id="menu-302" class="menu-path-node-13">
                      <a href="videos" title="">Videos</a>
                    </li>
                    <li id="menu-303" class="menu-path-node-14">
                      <a href="testimonials" title="">Testimonials</a>
                    </li>
                    <li id="menu-305" class="menu-path-faq">
                      <a href="faq" title="">FAQ</a>
                    </li>
                    <li id="menu-928" class="menu-path-node-175">
                      <a href="contact-us" title="">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div id="block-bottom"></div>
              </div>
            </div>
            <!-- /footer-top -->
            <div id="footer-bottom">
              &copy; My Life Force Balance All Rights Reserved
            </div>
            <!-- /footer-bottom -->
          </div>
          <!-- /footer -->
        </div>
        <!-- /wrapper-content -->
      </div>
      <!-- /wrapper-middle -->
      <div id="wrapper-bottom"></div>
      <!-- /wrapper-bottom -->
    </div>
    <!-- /wrapper -->
    <!-- /layout -->
  </body>
</html>
