
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
    <title>Spirulina | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; Spirulina</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Spirulina</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  	<div class="content clear-block">
    <p><strong>Br J Nutr. 2010 Jan 27:1-4 </strong></p>
<p><strong>Protection by dietary Spirulina platensis against d-galactosamine- and acetaminophen-induced liver injuries. </strong></p>
<p>Lu J, Ren DF, Wang JZ, Sanada H, Egashira Y.</p>
<p>Laboratory of Food and Nutrition, Graduate School of Science and Technology, Chiba University , Matsudo , Chiba , Japan .</p>
<p>Increasing attention has been paid to Spirulina for its potential clinical uses. The present study investigated the <strong>protection by dietary Spirulina </strong> platensis <strong>against </strong> d-galactosamine (d-GalN)- and acetaminophen (APAP)-induced <strong>hepatitis </strong> in ICR mice. Mice in each group (n 6) were fed with a standard diet (American Institute of Nutrition (AIN)-93G), a positive control diet containing 0.5 % butylated hydroxytoluene (BHT), or a diet containing 3, 6 or 9 % S. platensis for 1 week. On the last day the mice were treated with d-GalN (300 mg/kg body weight, intraperitoneally) or APAP (150 mg/kg body weight, intraperitoneally) and 24 h later the mice were killed. The doses of both 6 and 9 % S. platensis were found to significantly alleviate the increase of serum glutamate oxaloacetoacetate transaminase (GOT) and glutamate pyruvate transaminase (GPT) activities in d-GalN- or APAP-intoxicated mice. The observation was very similar to that of the positive control groups. Two more experiments were carried out to investigate the involvement of thiobarbituric acid-reactive substances (TBARS) and IL-18 in the suppression of 6 % S. platensis on d-GalN- and APAP-induced hepatitis. The significant increase of GOT and GPT activities was found to be accompanied with the elevation of hepatic TBARS level, IL-18 mRNA expression and serum IL-18 concentration, and was significantly alleviated by supplementation with 6 % S. platensis in diets. <strong><span style="color: #ff0000;">These results showed that dietary S. platensis could provide a significant protection against d-GalN- and APAP-induced liver injuries, and IL-18 and lipid peroxidation might be involved in the protective influence of S. platensis </span></strong>.</p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/20102673 </a></p>
<p><strong>Curr Pharm Biotechnol. 2008 Oct;9(5):400-5. </strong></p>
<p><strong>Spirulina in health care management. </strong></p>
<p>Kulshreshtha A, Zacharia AJ, Jarouliya U, Bhadauriya P, Prasad GB, Bisen PS.</p>
<p>School of Studies in Biochemistry and Biotechnology, Jiwaji University , Gwalior-474011, India .</p>
<p>Spirulina is a photosynthetic, filamentous, spiral-shaped and multicellular edible microbe. It is the nature's richest and most complete source of nutrition. Spirulina has a unique blend of nutrients that no single source can offer. The alga contains a wide spectrum of prophylactic and therapeutic nutrients that include B-complex vitamins, minerals, proteins, gamma-linolenic acid and the super anti-oxidants such as beta-carotene, vitamin E, trace elements and a number of unexplored bioactive compounds. Because of its apparent ability to stimulate whole human physiology, <strong><span style="color: #ff0000;">Spirulina exhibits therapeutic functions such as antioxidant, anti-bacterial, antiviral, anticancer, anti-inflammatory, anti-allergic and anti-diabetic and plethora of beneficial functions</span> </strong>. Spirulina consumption appears to promote the growth of intestinal micro flora as well.</p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/18855693 </a></p>
<p><strong>Med Sci Sports Exerc. 2010 Jan;42(1):142-51. </strong></p>
<h1>Ergogenic and antioxidant effects of spirulina supplementation in humans.</h1>
<p>Kalafati M, Jamurtas AZ, Nikolaidis MG, Paschalis V, Theodorou AA, Sakellariou GK, Koutedakis Y, Kouretas D.</p>
<p>Institute of Human Performance and Rehabilitation, Center for Research and Technology - Thessaly, Trikala , Greece .</p>
<p>PURPOSE: Spirulina is a popular nutritional supplement that is accompanied by claiMSS for antioxidant and performance-enhancing effects. Therefore, the aim of the present study was to examine the effect of spirulina supplementation on (i) exercise performance, (ii) substrate metabolism, and (iii) blood redox status both at rest and after exercise. METHODS: Nine moderately trained males took part in a double-blind, placebo-controlled, counterbalanced crossover study. Each subject received either spirulina (6 g x d(-1)) or placebo for 4 wk. Each subject ran on a treadmill at an intensity corresponding to 70%-75% of their VO2max for 2 h and then at 95% VO2max to exhaustion. Exercise performance and respiratory quotient during exercise were measured after both placebo and spirulina supplementation. Blood samples were drawn before, immediately after, and at 1, 24, and 48 h after exercise. Reduced glutathione (GSH), oxidized glutathione (GSSG), GSH/GSSG, thiobarbituric acid-reactive substances (TBARS), protein carbonyls, catalase activity, and total antioxidant capacity (TAC) were determined. RESULTS: Time to fatigue after the 2-h run was significantly longer after spirulina supplementation (2.05 +/- 0.68 vs 2.70 +/- 0.79 min). Ingestion of spirulina significantly decreased carbohydrate oxidation rate by 10.3% and increased fat oxidation rate by 10.9% during the 2-h run compared with the placebo trial. GSH levels were higher after the spirulina supplementation compared with placebo at rest and 24 h after exercise. TBARS levels increased after exercise after placebo but not after spirulina supplementation. Protein carbonyls, catalase, and TAC levels increased similarly immediately after and 1 h after exercise in both groups. CONCLUSIONS: <strong><span style="color: #ff0000;">Spirulina supplementation induced a significant increase in exercise performance, fat oxidation, and GSH concentration and attenuated the exercise-induced increase in lipid peroxidation. </span></strong></p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/20010119 </a></p>
  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>