
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
       <title>Barley Grass | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; 	
Barley Grass</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Barley Grass</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-60" class="node  ">



  
<div class="content clear-block">
    <p><strong>J Nutr. 2008 Jun;138(6):1237S-43S. </strong></p>
<p><strong>Issues surrounding health claims for barley. </strong></p>
<p>Ames NP, Rhymer CR.</p>
<p>Cereal Research Centre, Agriculture and Agri-Food Canada , Winnipeg , Manitoba R3T 2M9 , Canada .</p>
<p>Government-approved health claims support dietary intervention as a safe and practical approach to improving consumer health and provide industry with regulatory guidelines for food product labels. Claims already allowed in the United States , United Kingdom , Sweden , and The Netherlands for reducing cholesterol through consumption of oat or barley soluble fiber provide a basis for review, but each country may have different criteria for assessing clinical evidence for a physiological effect. For example, the <strong>FDA-approved barley health claim </strong> was based on a petition that included 39 animal model studies and 11 human clinical trials. Since then, more studies have been published, but with few exceptions, <strong><span style="color: #ff0000;">clinical data continue to demonstrate that the consumption of barley products is effective for lowering total and LDL cholesterol </span></strong>. More research is needed to fully understand the mechanism of cholesterol reduction and the role of beta-glucan molecular weight, viscosity, and solubility. In an assessment of the physiological efficacy of a dietary intervention, consideration should also be given to the potential impact of physical and thermal food-processing treatments and genotypic variation in the barley source. New barley cultivars have been generated specifically for food use, possessing increased beta-glucan, desirable starch composition profiles, and improved milling/processing traits. These advances in barley production, coupled with the establishment of a government-regulated health claim for barley beta-glucan, will stimulate new processing opportunities for barley foods and provide consumers with reliable, healthy food choices.</p>
<p>Source: PubMed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/18492863 </a></p>
<p><strong>J Agric Food Chem. 2007 Jun 27;55(13):5018-24. Epub 2007 Jun 2. </strong></p>
<p><strong>Antioxidative and antiproliferative properties of selected barley (Hordeum vulgarae L.) cultivars and their potential for inhibition of low-density lipoprotein (LDL) cholesterol oxidation. </strong></p>
<p><strong>Madhujith T, Shahidi F. </strong></p>
<p>Department of Biochemistry, Memorial University of Newfoundland , St. John's , Newfoundland , Canada .</p>
<p>Aqueous methanolic extracts of whole kernels from six different barley cultivars, namely, Falcon, AC Metcalfe, Tyto, Tercel, Phoenix, and Peregrine, were examined for their total phenolic content (TPC), oxygen radical scavenging capacity (ORACFL), hydroxyl radical scavenging capacity (HORACFL), potency in prevention of lipid oxidation using the Rancimat method, efficacy in inhibition of Cu(II)-induced human LDL cholesterol oxidation, and antiproliferative activities using Caco-2 colorectal adenocarcinoma cell line. Total phenolic content as measured by Folin-Ciocalteu's method ranged from 0.68 to 1.19 mg of ferulic acid equiv/g of defatted material, whereas ORACFL and HORACFL values were 11.28-19.10 and 9.06-12.99 micromol of Trolox equiv/g of defatted material, respectively. Protection factor (PF), a measure of the effect of extracts on the prevention of oxidation of stripped corn oil as measured by Rancimat, ranged from 0.97 to 1.59. Furthermore, barley extracts showed 19.64-33.93% inhibition against Cu(II)-induced human LDL cholesterol oxidation at a final concentration of 0.02 mg/mL. The proliferation of Caco-2 colon cancer cells was significantly (p &lt; 0.05) inhibited in a dose-dependent fashion in the presence of all barley extracts tested at the end of the day 4 of incubation. At the end of day 4, barley extracts rendered 29.3-51.2 and 9.3-15.9% inhibition of cell proliferation at 0.5 and 0.05 mg/mL, respectively. <strong>Phenolic extracts from whole barley kernel tested possessed high antioxidant, antiradical, and antiproliferative potentials. Therefore, inclusion of whole barley into the daily diet may render beneficial health benefits </strong>.</p>
<p>Source: Pubmed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/17542605 </a></p>
  </div>

  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
		<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->

    </body>
</html>