
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
 <title>Green Tea | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; 	
Green Tea</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Green Tea</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-60" class="node  ">



<div class="content clear-block">
    <p>Am J Obstet Gynecol. 2010 Mar;202(3):289.e1-9. Epub 2010 Jan 13.</p>
<h3>Green tea extract inhibits proliferation of uterine leiomyoma cells in vitro and in nude mice.</h3>
<p>Zhang D, Al-Hendy M, Richard-Davis G, Montgomery-Rice V, Sharan C, Rajaratnam V, Khurana A, Al-Hendy A.</p>
<p>Center for Women's Health Research, Department of Obstetrics and Gynecology, Meharry Medical College, Nashville, TN 37208, USA.</p>
<p>OBJECTIVE: The purpose of this study was to investigate the effect of epigallocatechin gallate (EGCG) on rat leiomyoma (ELT3) cells in vitro and in a nude mice model. STUDY DESIGN: ELT3 cells were treated with various concentrations of EGCG. Cell proliferation, proliferation cell nuclear antigen (PCNA), and cyclin-dependent kinase 4 (Cdk4) protein levels were evaluated. ELT3 cells were inoculated subcutaneously in female athymic nude mice. Animals were fed 1.25 mg EGCG (in drinking water)/mouse/day. Tumors were collected and evaluated at 4 and 8 weeks after the treatment. RESULTS: Inhibitory effect of EGCG (200 micromol/L) on ELT3 cells was observed after 24 hours of treatment (P &lt; .05). At &gt; or = 50 micromol/L, EGCG significantly decreased PCNA and Cdk4 protein levels (P &lt; .05). In vivo, EGCG treatment dramatically reduced the volume and weight of tumors at 4 and 8 weeks after the treatment (P &lt; .05). The PCNA and Cdk4 protein levels were significantly reduced in the EGCG-treated group (P &lt; .05). CONCLUSION: <strong>EGCG effectively inhibits proliferation and induces apoptosis in rat ELT3 uterine leiomyoma cells in vitro and in vivo.</strong></p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/20074693</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Cancer Epidemiol Biomarkers Prev. 2008 Nov;17(11):3020-5.</p>
<h3>Green tea extracts for the prevention of metachronous colorectal adenomas: a pilot study.</h3>
<p>Shimizu M, Fukutomi Y, Ninomiya M, Nagura K, Kato T, Araki H, Suganuma M, Fujiki H, Moriwaki H.</p>
<p>Department of Medicine, Gifu University Graduate School of Medicine, 1-1 Yanagido, Gifu 501-1194, Japan.</p>
<p>BACKGROUND: Experimental studies indicate the chemopreventive properties of green tea extract (GTE) on colorectal cancer. Epidemiologically, green tea consumption of &gt; 10 cups daily reduced colorectal cancer risk in Japanese. Because colorectal adenomas are the precursors to most sporadic colorectal cancers, we conducted a randomized trial to determine the preventive effect of GTE supplements on metachronous colorectal adenomas by raising green tea consumption in the target population from an average of 6 cups (1.5 g GTE) daily to &gt; or = 10 cups equivalent (2.5 g GTE) by supplemental GTE tablets. METHODS: We recruited 136 patients, removed their colorectal adenomas by endoscopic polypectomy, and 1 year later confirmed the clean colon (i.e., no polyp) at the second colonoscopy. The patients were then randomized into two groups while maintaining their lifestyle on green tea drinking: 71 patients supplemented with 1.5 g GTE per day for 12 months and 65 control patients without supplementation. Follow-up colonoscopy was conducted 12 months later in 125 patients (65 in the control group and 60 in the GTE group). RESULTS: The incidence of metachronous adenomas at the end-point colonoscopy was 31% (20 of 65) in the control group and 15% (9 of 60) in the GTE group (relative risk, 0.49; 95% confidence interval, 0.24-0.99; P &lt; 0.05). The size of relapsed adenomas was also smaller in the GTE group than in the control group (P &lt; 0.001). No serious adverse events occurred in the GTE group. CONCLUSION: <strong>GTE is an effective supplement for the chemoprevention of metachronous colorectal adenomas.</strong></p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/18990744</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Inflammopharmacology.  2008 Oct;16(5):208-12.</p>
<h3>Green tea polyphenols as a natural tumour cell proteasome inhibitor.</h3>
<p>Dou QP, Landis-Piwowar KR, Chen D, Huo C, Wan SB, Chan TH.</p>
<p>The Prevention Program, Barbara Ann Karmanos Cancer Institute and Department of Pathology, School of Medicine, Wayne State University, 540.1 HWCRC, 4100 John R Rd, Detroit, Michigan 48201, USA. <a style="text-decoration: none; cursor: text; color: #000000;" href="#a">doup@karmanos.org</a></p>
<p>The cancer-preventive effects of green tea and its main constituent (-)-epigallocatechin gallate [(-)-EGCG] are widely supported by results from epidemiological, cell culture, animal and clinical studies although the molecular target has not been well defined. We previously reported that ester bond-containing tea polyphenols, e. g. (-)-EGCG, and their synthetic analogs potently and specifically inhibited the proteasomal activity. Subsequently, we further demonstrated that methylation on green tea polyphenols under physiological conditions decreased their proteasome-inhibitory activity, contributing to decreased cancer-preventive effects of tea consumption. <strong>Since (-)-EGCG is unstable under physiological conditions, we also developed the peracetate-protected or prodrug form of (-)-EGCG, Pro-EGCG (1), and shown that Pro-EGCG (1) increases the bioavailability, stability, and proteasome-inhibitory and anticancer activities of (-)-EGCG in human breast cancer cells and xenografts,<span style="color: #ff0000;"> suggesting its [green tea] potential use for cancer prevention and treatment.</span></strong></p>
<p><strong>Source: PubMed</strong></p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/18815743</a></p>
  </div>


  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->
 
    </body>
</html>
