
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="shortcut icon" href="/images/green_favicon.ico" type="image/x-icon" />
       <title>Chlorella | My LifeForce Balance</title>
<link type="text/css" rel="stylesheet" media="all" href="/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/poll.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/defaults.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/system-menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/date.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/nice_menus_default.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/tagadelic.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
<link type="text/css" rel="stylesheet" media="print" href="/css/print.css" />
    <script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/drupal.js"></script>
<script type="text/javascript" src="/js/nice_menus.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/" });
//--><!]]>
</script>
    <!--[if lt IE 7]>
      <link type="text/css" rel="stylesheet" media="all" href="fix-ie.css" />    <![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/contentslider.css" />
	<script type="text/javascript" src="/js/contentslider.js"></script>

  </head>
  <body>

<!-- Layout -->
  <div id="wrapper">
	<div id="wrapper-top">
		<div id="wrapper-top-right">
			<a href="https://www.twitter.com/MLForceBalance" target="_blank"><img src="/images/twitter.png" width="30" height="30" title="Twitter" alt="Twitter"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.youtube.com/MyLifeForceBalance" target="_blank"><img src="/images/youtube.png" width="30" height="30" title="Youtube" alt="Youtube"></a>&nbsp; &nbsp;&nbsp;&nbsp;
			<a href="https://www.facebook.com/pages/MyLifeForceBalance/109475499091103" target="_blank"><img src="/images/facebook.png" width="30" height="30" title="Facebook" alt="Facebook"></a>&nbsp; &nbsp;&nbsp;&nbsp;
		
		</div><!-- /wrapper-top-right -->
	</div><!-- /wrapper-top -->
	<div id="wrapper-middle">
	<div id="wrapper-content">
		<div id="header">
			<div id="header-left">
				<h1><a href="../../index" title=""><img src="/images/logo.png" alt="" id="logo" /></a></h1>

<!-- flag iocn 31/05/2010-->
            <div id="flagicon"><img src="/images/flagicon.jpg" alt="" usemap="#Map" />
<map name="Map" id="Map">
<area shape="rect" coords="-1,0,25,17" href="https://www.mylifeforcebalance.com" target="_blank" title="United States (US)" alt="United States (US)" />
<area shape="rect" coords="32,0,59,17" href="https://www.mylifeforcebalance.hk" target="_blank" title="Hong Kong" alt="Hong Kong" />
<area shape="rect" coords="68,0,92,18" href="https://www.mylifeforcebalance.com" target="_blank" title="India" alt="India" />
<area shape="rect" coords="101,-2,125,20" href="https://www.mylifeforcebalance.ru" target="_blank" title="Russia" alt="Russia" />
<area shape="rect" coords="135,1,160,19" href="https://www.mylifeforcebalance.com" target="_blank" title="China" alt="China" />


</map></div>
            <!--/flag icon-->


			</div><!-- /header-left -->

			


			<div id="header-right">
			<div id="header-right-content" style="padding-top:8px;padding-left:26px;"><a href="../../products">Click Here</a> To Buy Greens </div>
			</div><!-- /header-right -->
		</div><!-- /header -->
		<div id="menu"><div id="menu1"><div id="block-nice_menus-1" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">menu top</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-1"><li id="menu-284" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-289" class="menu-path-node-9"><a href="../../products" title="Products">Products</a></li>
<li id="menu-291" class="menu-path-node-11"><a href="../../science" title="Science">Science</a></li>
<li id="menu-292" class="menu-path-node-12"><a href="../../articles" title="Articles">Articles</a></li>
<li id="menu-929" class="menu-path-node-177"><a href="../../power-point" title="">Power Point</a></li>
<li id="menu-293" class="menu-path-node-13"><a href="../../videos" title="videos">Videos</a></li>
<li id="menu-294" class="menu-path-node-14"><a href="../../testimonials" title="Testimonials">Testimonials</a></li>
<li id="menu-296" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-927" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><div id="menu2">Questions? 1 (800) 682-6143</div></div><!-- /menu -->


		<!-- /banner -->
		<!-- BREADCRUM CODE BEGINS -->
		        <div id="custom-breadcrum"><a href="/"> Home</a> &#8250; <a href="/science">Science</a> &#8250; 	
Chlorella</div>
                <!-- BREADCRUM CODE ENDS-->
		<div id="main-content-area">
		
				<div id="content-area">
				<!-- /content-area-top -->
				<div id="content-area-middle">
				
					  					  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin:0px; padding:0px;">
					  <tr>
					  <td class="custom-title-left"></td>
					  <td class="custom-title-bg">
					  <h2>Chlorella</h2>					  </td>
					  <td class="custom-title-right"></td>
					  </table>
					  					  					  					  					  <div class="clear-block">
						<div id="node-60" class="node  ">



  <div class="content clear-block">
    <p><strong>Ann N Y Acad Sci. 2009 Aug;1171:183-9. </strong></p>
<p><strong>Chlorella methanol extract reduces lipid accumulation in and increases the number of apoptotic 3T3-L1 cells. </strong></p>
<p>Chon JW, Sung JH, Hwang EJ, Park YK .</p>
<p>Department of Medical Nutrition, Graduate School of East-West Medical Science, Kyung Hee University, Yongin-si, Korea.</p>
<p>Obesity is a fast-growing problem that is reaching pandemic proportions. <strong> Chlorella has many biological merits for promoting health, including detoxification, boosting the immune system, and even reversing cancer </strong>. In this study, we found that methanol extract of Chlorella reduces lipid accumulation in 3T3-L1 adipocytes. It has been postulated that these antiobesity effects could be a result of reducing adipogenesis. First, the MTT assay indicated that Chlorella significantly inhibited cell growth of 3T3-L1 preadipocytes. The accumulation of triacylglycerol in 3T3-L1 adipocytes decreased in cells treated with Chlorella versus those in untreated cells by Oil Red O staining. In parallel, Chlorella showed a significant dose-dependent increase in lactate dehydrogenase activity in culture medium of differentiated 3T3-L1 adipocytes. Second, we investigated the effects of Chlorella on the induction of apoptosis by fluorescence-activated cell sorting analysis. Chlorella showed that apoptotic cells increased in a time- and dose-dependent manner in cell apoptosis analysis by propidium iodide (PI) staining. Treatment with Chlorella decreased the number of normal cells and increased the number of apoptotic cells in a dose-dependent manner in annexin V-fluorescein isothiocyanate/PI double staining. Therefore, <span style="color: #ff0000;"><strong>Chlorella is expected to efficiently reduce adipogenesis in 3T3-L1 adipocytes and to induce apoptosis in 3T3-L1 preadipocytes </strong></span>.</p>
<p>Source: Pubmed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19723054 </a></p>
<p><strong>J Agric Food Chem. 2010 Jan 27;58(2):927-36. </strong></p>
<p><strong>Immunostimulatory bioactivity of algal polysaccharides from Chlorella pyrenoidosa activates macrophages via Toll-like receptor 4. </strong></p>
<p>Hsu HY, Jeyashoke N, Yeh CH, Song YJ, Hua KF, Chao LK.</p>
<p>Department of Biotechnology and Laboratory Science in Medicine, National Yang-Ming University , Taipei , Taiwan .</p>
<p>Much research suggests that a dietary supplement of Chlorella pyrenoidosa may be helpful to human health, but the molecular mechanism involved remains unclear. The aim of this research was to investigate the effects of certain hot-water-soluble polysaccharides from Chlorella pyrenoidosa (CWSP) on cytokine production, human leukocyte antigen (HLA) expression, and costimulatory molecule expression in macrophages. We demonstrated that CWSP induced IL-1beta secretion in macrophages via Toll-like receptor 4 (TLR4) mediated protein kinase signaling pathways. In addition, CWSP also stimulated the cell surface expression of HLA-DA, -DB, and -DC, and HLA-DR, -DP, and -DQ as well as the expression of costimulatory family molecules such as CD80 and CD86 in macrophages. Furthermore, we demonstrated that preinjection of C57BL/6J mice with CWSP increased lipopolysaccharide (LPS)-induced tumor necrosis factor-alpha and IL-1beta secretion into serum in vivo. This outcome was consistent with the corresponding outcome for cells treated with CWSP in vitro. Our current results provide support for the possible use of CWSP as a modulation agent of immune responses in humans and certain animal species. Finally, in using GC-MS to analyze the polysaccharides, we found that the major monosaccharides of CWSP were rhamnose (31.8%), glucose (20.42%), galactose (10.28%), mannose (5.23%), and xylose (1.27%). <strong><span style="color: #ff0000;">This study is the first to report the molecular mechanism of immune-modulated signal transduction in vitro from the polysaccharides of Chlorella pyrenoidosa</span> </strong>.</p>
<p>Source: Pubmed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/19916503 </a></p>
<p><strong>Plant Foods Hum Nutr. 2010 Mar;65(1):25-30. </strong></p>
<p>Chlorella pyrenoidosa Supplementation Reduces the Risk of Anemia, Proteinuria and Edema in Pregnant Women.</p>
<p>Nakano S, Takekoshi H, Nakano M.</p>
<p>Saiseikai Nara Hospital , 4-643 Hachijo, Nara , Nara , 630-8145, Japan .</p>
<p>Pregnancy anemia and pregnancy-induced hypertension (PIH) are common and potentially dangerous disorder in human pregnancy, and nutritional status of pregnant women is one of the leading causes. Chlorella contains large quantities of folate, vitamin B-12 and iron, and can help improve anemia and hypertensive disorder. Our objective was to investigate the preventive effects of Chlorella supplement on pregnancy anemia and PIH in Japanese pregnant women. A total of 70 pregnant women were placed into the control group (n = 38) or the Chlorella group (n = 32). The subjects in the Chlorella group were supplemented daily from 12th-18th wk of gestation until delivery with 6 g of Chlorella supplement. The proportion of anemic (hemoglobin level &lt; 11 g/dL) subjects in the Chlorella group were significantly lower compared with the control group at the second and third trimesters. Additionally, in the Chlorella group, the incidences of proteinuria and edema, signs of PIH, were significantly lower during the third trimester. These results suggest that <strong>Chlorella supplementation significantly reduces the risk of pregnancy associated anemia, proteinuria and edema. Chlorella supplement may be useful as a resource of natural folate, vitamin B-12 and iron for pregnant women </strong>.</p>
<p>Source: Pubmed</p>
<p><a style="text-decoration: none; cursor: text; color: #000000;" href="#a">http://www.ncbi.nlm.nih.gov/pubmed/20013055 </a></p>
  </div>


  <div class="clear-block">
    <div class="meta">
        </div>

      </div>

</div>
					  </div>
				</div><!-- /content-area-middle -->
				<!-- /content-area-bottom -->
			</div><!-- /content-area -->
						
		</div><!-- /main-content-area -->
			<div id="footer">
			<div id="footer-top"><div id="block-nice_menus-2" class="clear-block block block-nice_menus">

  <h2><span class="nice-menu-hide-title">Footer Menu</span></h2>

  <div class="content"><ul class="nice-menu nice-menu-down" id="nice-menu-2"><li id="menu-298" class="menu-path-front"><a href="../../index" title="">Home</a></li>
<li id="menu-299" class="menu-path-node-9"><a href="../../products" title="">Products</a></li>
<li id="menu-300" class="menu-path-node-11"><a href="../../science" title="">Science</a></li>
<li id="menu-301" class="menu-path-node-12"><a href="../../articles" title="">Articles</a></li>
<li id="menu-302" class="menu-path-node-13"><a href="../../videos" title="">Videos</a></li>
<li id="menu-303" class="menu-path-node-14"><a href="../../testimonials" title="">Testimonials</a></li>
<li id="menu-305" class="menu-path-faq"><a href="../../faq" title="">FAQ</a></li>
<li id="menu-928" class="menu-path-node-175"><a href="../../contact-us" title="">Contact Us</a></li>
</ul>
</div>
  <div id="block-bottom"></div>
</div>

</div><!-- /footer-top -->
			<div id="footer-bottom">&copy; My Life Force Balance All Rights Reserved</div><!-- /footer-bottom -->
		</div><!-- /footer -->
		</div><!-- /wrapper-content -->
	</div><!-- /wrapper-middle -->
	<div id="wrapper-bottom"></div><!-- /wrapper-bottom -->
  </div><!-- /wrapper -->
<!-- /layout -->
 
    </body>
</html>
